In [1]:
import sys
sys.path.insert(0, '/Users/david/galvanize/super_liga_xg')

In [2]:
import pprint
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
from mongo_to_db import create_master_df
from scraping_tools.html_scraper import db

In [4]:
pd.set_option('display.max_columns', 50)

In [5]:
games = db['games_update'].find()
shots_df = create_master_df(games)

/Users/david/galvanize/super_liga_xg/src/mongo_to_db.py:69: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  final_df = pd.concat([attach_to_df, df], axis=0, ignore_index=True)

# Removing any penalty attempts from shots

In [6]:
shots_df.head()

,game_id,player_id,shot_coord_x1,shot_coord_x2,shot_coord_y1,shot_coord_y2,shot_coord_z1,shot_coord_z2,shot_id,shot_type,team_id,time_of_event(min),passed_from_id,pass_coord_x1,pass_coord_x2,pass_coord_y1,pass_coord_y2,pass_coord_z1,pass_coord_z2,corner_kick,shot_distance,shot_angle,assisted_shot,is_penalty_attempt,is_goal
0,448548,99779.0,6.67,0.00,1.51,-1.21,-1,0.83,22336297,11,20,1.033333,177285.0,0.89,12.44,29.36,-4.84,-1.0,-1.0,1.0,6.838786,12.755990,1.0,0.0,1
1,448548,60730.0,21.33,12.00,4.24,-0.91,-1,0.73,22336386,35,20,9.683333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,21.747333,11.242763,0.0,0.0,0
2,448548,177285.0,12.00,1.78,0.00,-3.03,-1,0.21,22336583,13,20,26.833333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.000000,0.000000,0.0,1.0,1
3,448548,185745.0,8.44,0.89,14.53,-6.66,-1,-1.00,22336723,33,20,38.883333,177285.0,22.67,6.22,3.93,19.67,-1.0,-1.0,0.0,16.803407,59.849102,1.0,0.0,0
4,448548,77892.0,22.22,0.44,13.92,-8.48,-1,-1.00,22336739,33,13,40.083333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,26.220122,32.065607,0.0,0.0,0

In [7]:
shots_no_pen = shots_df[shots_df['is_penalty_attempt'] == 0].copy()

In [8]:
shots_no_pen.head()

,game_id,player_id,shot_coord_x1,shot_coord_x2,shot_coord_y1,shot_coord_y2,shot_coord_z1,shot_coord_z2,shot_id,shot_type,team_id,time_of_event(min),passed_from_id,pass_coord_x1,pass_coord_x2,pass_coord_y1,pass_coord_y2,pass_coord_z1,pass_coord_z2,corner_kick,shot_distance,shot_angle,assisted_shot,is_penalty_attempt,is_goal
0,448548,99779.0,6.67,0.00,1.51,-1.21,-1,0.83,22336297,11,20,1.033333,177285.0,0.89,12.44,29.36,-4.84,-1.0,-1.0,1.0,6.838786,12.755990,1.0,0.0,1
1,448548,60730.0,21.33,12.00,4.24,-0.91,-1,0.73,22336386,35,20,9.683333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,21.747333,11.242763,0.0,0.0,0
3,448548,185745.0,8.44,0.89,14.53,-6.66,-1,-1.00,22336723,33,20,38.883333,177285.0,22.67,6.22,3.93,19.67,-1.0,-1.0,0.0,16.803407,59.849102,1.0,0.0,0
4,448548,77892.0,22.22,0.44,13.92,-8.48,-1,-1.00,22336739,33,13,40.083333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,26.220122,32.065607,0.0,0.0,0
5,448548,77892.0,11.56,0.44,10.59,-1.21,-1,0.14,22336802,35,13,44.483333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,15.677426,42.492487,0.0,0.0,0

In [9]:
shots_no_pen.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3399 entries, 0 to 3436
Data columns (total 25 columns):
game_id               3399 non-null object
player_id             3399 non-null float64
shot_coord_x1         3399 non-null float64
shot_coord_x2         3399 non-null float64
shot_coord_y1         3399 non-null float64
shot_coord_y2         3399 non-null float64
shot_coord_z1         3399 non-null object
shot_coord_z2         3399 non-null float64
shot_id               3399 non-null object
shot_type             3399 non-null object
team_id               3398 non-null object
time_of_event(min)    3399 non-null float64
passed_from_id        1413 non-null float64
pass_coord_x1         1413 non-null float64
pass_coord_x2         1413 non-null float64
pass_coord_y1         1413 non-null float64
pass_coord_y2         1413 non-null float64
pass_coord_z1         1413 non-null float64
pass_coord_z2         1413 non-null float64
corner_kick           3389 non-null float64
shot_distance         3399 non-null float64
shot_angle            3399 non-null float64
assisted_shot         3399 non-null float64
is_penalty_attempt    3399 non-null float64
is_goal               3399 non-null object
dtypes: float64(19), object(6)
memory usage: 690.4+ KB

In [10]:
from model_prep import create_rf_prep

In [11]:
model_ready = create_rf_prep(shots_no_pen)

In [12]:
model_ready.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3399 entries, 0 to 3436
Data columns (total 3 columns):
shot_distance    3399 non-null float64
shot_angle       3399 non-null float64
assisted_shot    3399 non-null float64
dtypes: float64(3)
memory usage: 106.2 KB

In [13]:
y = shots_no_pen['is_goal'].astype(float)
X = model_ready

# K-Fold Testing

In [14]:
from sklearn.metrics import log_loss
from sklearn.model_selection import train_test_split, KFold
from sklearn.ensemble import  RandomForestClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier

In [15]:
X.head()

   shot_distance  shot_angle  assisted_shot
0       6.838786   12.755990            1.0
1      21.747333   11.242763            0.0
3      16.803407   59.849102            1.0
4      26.220122   32.065607            0.0
5      15.677426   42.492487            0.0

In [16]:
# kf = KFold(n_splits=5, shuffle=True) # Define the split - into 5 folds 
# kf.get_n_splits(X) # returns the number of splitting iterations in the cross-validator
# print(kf)

In [17]:
from model_tuning import kfold_test

In [18]:
random_forest_model = RandomForestClassifier(n_estimators=300, max_depth=3, verbose=1, random_state=8)

In [19]:
rf_scores, rf_avg = kfold_test(random_forest_model, X, y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    0.0s finished

In [20]:
print(rf_avg)
rf_scores

0.2974793689777956

[0.29948464163916316,
 0.28355576260989507,
 0.2857137172365069,
 0.3093398460899534,
 0.3093028773134591]

In [21]:
xgboost_model = XGBClassifier(learning_rate = 0.01, max_depth = 3, n_estimators = 300, random_state=8)
gradient_boost_model = GradientBoostingClassifier(learning_rate=0.01, max_depth=4, max_features='log2', min_samples_leaf=4, n_estimators=280, subsample=0.25, random_state=8)

In [22]:
xg_scores, xg_avg = kfold_test(xgboost_model, X, y)
print(xg_avg)
xg_scores

0.2971955976377323

[0.26615429149721476,
 0.303064191472881,
 0.29887310967178027,
 0.3071124400286114,
 0.31077395551817405]

In [33]:
gb_scores, gb_avg = kfold_test(gradient_boost_model, X, y)
print(gb_avg)
gb_scores

0.29588144207191425

[0.2671588425060948,
 0.2862326058926339,
 0.31173256829536333,
 0.32318821058327185,
 0.29109498308220744]

# Tuning

In [78]:
from model_tuning import xg_kfold_tune, gb_kfold_tune, gb_best_parameters

In [52]:
score1, score2, score3, score4, score5 = xg_kfold_tune(X, y)

In [53]:
print(score1)
print(f'n_100 {np.mean(score1)}')
print(score2)
print(f'n_200 {np.mean(score2)}')
print(score3)
print(f' n_300: {np.mean(score3)}')
print(score4)
print(f' n_400: {np.mean(score4)}')
print(score5)
print(f' n_500: {np.mean(score5)}')

[0.3058404532206409, 0.29749767886584294, 0.3085416440468501, 0.318444068127257, 0.3250610274379313]
n_100 0.3110769743397045
[0.29100043644909473, 0.2823453362483312, 0.2950787289013319, 0.3054201278890319, 0.3151375545471336]
n_200 0.29779643680698464
[0.2885496829663787, 0.279867322668981, 0.29357560417231393, 0.3031081891289967, 0.3163158916984856]
 n_300: 0.29628333812703117
[0.28745541089652654, 0.27925545958637754, 0.29360236070009277, 0.3025303984471761, 0.3191446504954781]
 n_400: 0.2963976560251302
[0.28714192118358745, 0.2787105344619383, 0.293652160762234, 0.30287831802578535, 0.32103369203677323]
 n_500: 0.29668332529406366

In [62]:
gb_results = gb_kfold_tune(X, y)

In [77]:
[np.mean(gb_results[i][1]) for i in range(6)]

[294.8, 227.8, 209.0, 164.0, 178.8, 117.8]

In [73]:
[np.mean(gb_results[i][0]) for i in range(6)]

[0.2926644448937002,
 0.29272644822667165,
 0.2938951134278393,
 0.29562466749898497,
 0.29725324993074065,
 0.2998528281110443]

In [86]:
best_n, best_ll = gb_best_parameters(X, y)

In [87]:
best_n

278.8

In [88]:
best_ll

0.2929203971798509

Best xgboost: n300

Best gboost: 278

# Comparing Tuned Model Performance

In [89]:
xgboost_model = XGBClassifier(learning_rate = 0.01, max_depth = 3, n_estimators = 300, random_state=8)
gradient_boost_model = GradientBoostingClassifier(learning_rate=0.01, max_depth=4, max_features='log2', min_samples_leaf=4, n_estimators=280, subsample=0.25, random_state=8)
random_forest_model = RandomForestClassifier(n_estimators=300, max_depth=3, verbose=1, random_state=8)

In [23]:
for i in range(3):
    print(i)

0
1
2