In [42]:
import pprint
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from json_shot_scraper import flatten_shot, flatten_goal, flatten_complete_pass, flatten_incomplete_pass, flatten_corner
from  player_scraper import flatten_player, flatten_sub
from dataframe_cleaner import (pass_to_shot, corner_to_shot, transpose_coordinates, coord_to_yards, 
                               shot_distance_angle, dummy_columns, drop_own_goals, goal_dummy)
from model_prep import create_hypothetical_df
from transfer_market_scraper import flatten_player_info

In [4]:
pd.set_option('display.max_columns', 50)

In [63]:
from html_scraper import db
from mongo_to_db import game_to_cleaned_df, create_frame, create_master_df, create_master_player_min_df
import string

# players to match up data with

In [13]:
games = db.games.find()
players_minutes_df = create_master_player_min_df(games)

In [244]:
players_minutes_df['squad_number'].unique()

array([22., 12., 24.,  6., 29., 34.,  4., 15., 16., 30., 28.,  8., 23.,
       10., 11., 26.,  9., 33., nan, 13., 20., 21.,  5., 18., 31.,  7.,
       19.,  3., 14., 25.,  2., 27., 41., 40., 37., 32.,  1., 17., 39.,
       38., 87., 35., 36., 42., 43.])

In [245]:
players_minutes_df.head()

,game_id,name,player_id,position_id,squad_number,substitute,team_id,minutes_played
0,448548,Alexander Domínguez,19132.0,1,22.0,False,20,90.0
1,448548,Lucas Hoyos,27987.0,1,12.0,True,20,0.0
2,448548,Gastón Díaz,30896.0,2,24.0,False,20,90.0
3,448548,Joaquín Laso,94225.0,2,6.0,False,20,90.0
4,448548,Luis Abram,99779.0,2,29.0,False,20,90.0

In [247]:
names = players_minutes_df['name'].unique()

In [291]:
afa_team_dict = {20: 'VEL', 13: 'NOB', 136: 'TIG', 19: 'SLO', 8: 'GIM', 2: 'ARG',
 137: 'UNI', 122: 'ALD', 869: 'PA', 6: 'COL', 124: 'BEL', 134: 'SMS',
 5: 'BOC', 135: 'TAL', 132: 'GOD', 7: 'EST', 12: 'LAN', 129: 'DEF',
 18: 'ROS', 4: 'BAN', 100: 'HUR', 17: 'RIV', 815: 'ATT', 16: 'RAC', 10: 'IND',
 490: 'SMT'}

In [292]:
len(afa_team_dict)

26

In [262]:
team_dict = [{'team_id': '20', 'team_intitials': 'VEL', 'short_name': 'Vélez'},
 {'team_id': '13', 'team_intitials': 'NOB', 'short_name': 'Newell`s'},
 {'team_id': '136', 'team_intitials': 'TIG', 'short_name': 'Tigre'},
 {'team_id': '19', 'team_intitials': 'SLO', 'short_name': 'San Lorenzo'},
 {'team_id': '8', 'team_intitials': 'GIM', 'short_name': 'Gimnasia'},
 {'team_id': '2', 'team_intitials': 'ARG', 'short_name': 'Argentinos'},
 {'team_id': '137', 'team_intitials': 'UNI', 'short_name': 'Unión'},
 {'team_id': '122', 'team_intitials': 'ALD', 'short_name': 'Aldosivi'},
 {'team_id': '869', 'team_intitials': 'PA', 'short_name': 'Patronato'},
 {'team_id': '6', 'team_intitials': 'COL', 'short_name': 'Colón'},
 {'team_id': '124', 'team_intitials': 'BEL', 'short_name': 'Belgrano'},
 {'team_id': '134', 'team_intitials': 'SMS', 'short_name': 'S. Martín SJ'},
 {'team_id': '5', 'team_intitials': 'BOC', 'short_name': 'Boca'},
 {'team_id': '135', 'team_intitials': 'TAL', 'short_name': 'Talleres'},
 {'team_id': '132', 'team_intitials': 'GOD', 'short_name': 'Godoy Cruz'},
 {'team_id': '7', 'team_intitials': 'EST', 'short_name': 'Estudiantes'},
 {'team_id': '12', 'team_intitials': 'LAN', 'short_name': 'Lanús'},
 {'team_id': '129', 'team_intitials': 'DEF', 'short_name': 'Defensa'},
 {'team_id': '18', 'team_intitials': 'ROS', 'short_name': 'R. Central'},
 {'team_id': '4', 'team_intitials': 'BAN', 'short_name': 'Banfield'},
 {'team_id': '100', 'team_intitials': 'HUR', 'short_name': 'Huracán'},
 {'team_id': '17', 'team_intitials': 'RIV', 'short_name': 'River'},
 {'team_id': '815', 'team_intitials': 'ATT', 'short_name': 'Atl. Tucumán'},
 {'team_id': '16', 'team_intitials': 'RAC', 'short_name': 'Racing'},
 {'team_id': '10', 'team_intitials': 'IND', 'short_name': 'Independiente'},
 {'team_id': '490', 'team_intitials': 'SMT', 'short_name': 'S. Martín T'}]

In [293]:
players_minutes_df['club_brev'] = players_minutes_df['team_id'].map(afa_team_dict)

In [295]:
players_minutes_df.head()

,game_id,name,player_id,position_id,squad_number,substitute,team_id,minutes_played,club_brev
0,448548,Alexander Domínguez,19132.0,1,22.0,False,20,90.0,VEL
1,448548,Lucas Hoyos,27987.0,1,12.0,True,20,0.0,VEL
2,448548,Gastón Díaz,30896.0,2,24.0,False,20,90.0,VEL
3,448548,Joaquín Laso,94225.0,2,6.0,False,20,90.0,VEL
4,448548,Luis Abram,99779.0,2,29.0,False,20,90.0,VEL

# Transfer Market Data

In [307]:
players = db.players.find()

In [308]:
master_list = []
for player in players:
    master_list.append(player)

In [309]:
tm_player = pd.DataFrame(master_list)

In [310]:
tm_player.head()

,_id,birthday,club,foot,height,player,squad_num,transfer_value(sterlings)
0,5c0588e63d54c00a19927577,"Jan 26, 1991 (27)",Squad Club Atlético Boca Juniors,right,"1,94 m",Esteban Andrada,31,£4.50m
1,5c0588e73d54c00a19927578,"Mar 17, 1987 (31)",Squad Club Atlético Boca Juniors,right,"1,92 m",Carlos Lampe,28,£495k
2,5c0588e73d54c00a19927579,"Sep 27, 1993 (25)",Squad Club Atlético Boca Juniors,right,"1,85 m",Lisandro Magallán,6,£4.05m
3,5c0588e73d54c00a1992757a,"May 12, 1985 (33)",Squad Club Atlético Boca Juniors,right,"1,84 m",Paolo Goltz,2,£1.62m
4,5c0588e73d54c00a1992757b,"Feb 22, 1991 (27)",Squad Club Atlético Boca Juniors,left,"1,73 m",Frank Fabra,18,£5.40m

### Turn squad numbers into floats...

In [311]:
tm_player['squad_num'].unique()

array(['31', '28', '6', '2', '18', '20', '29', '16', '15', '8', '30', '7',
       '22', '19', '17', '1', '25', '24', '26', '3', '14', '4', '40', '5',
       '39', '10', '11', '32', '9', '13', '-', '23', '21', '27', '41',
       '34', '37', '12', '36', '38', '33', '35', '87'], dtype=object)

In [312]:
tm_player.loc[tm_player.squad_num == '-', 'squad_num'] = None

In [313]:
tm_player['squad_num'].unique()

array(['31', '28', '6', '2', '18', '20', '29', '16', '15', '8', '30', '7',
       '22', '19', '17', '1', '25', '24', '26', '3', '14', '4', '40', '5',
       '39', '10', '11', '32', '9', '13', None, '23', '21', '27', '41',
       '34', '37', '12', '36', '38', '33', '35', '87'], dtype=object)

In [314]:
tm_player = tm_player.astype({'squad_num': float})

In [316]:
tm_player.head()

,_id,birthday,club,foot,height,player,squad_num,transfer_value(sterlings)
0,5c0588e63d54c00a19927577,"Jan 26, 1991 (27)",Squad Club Atlético Boca Juniors,right,"1,94 m",Esteban Andrada,31.0,£4.50m
1,5c0588e73d54c00a19927578,"Mar 17, 1987 (31)",Squad Club Atlético Boca Juniors,right,"1,92 m",Carlos Lampe,28.0,£495k
2,5c0588e73d54c00a19927579,"Sep 27, 1993 (25)",Squad Club Atlético Boca Juniors,right,"1,85 m",Lisandro Magallán,6.0,£4.05m
3,5c0588e73d54c00a1992757a,"May 12, 1985 (33)",Squad Club Atlético Boca Juniors,right,"1,84 m",Paolo Goltz,2.0,£1.62m
4,5c0588e73d54c00a1992757b,"Feb 22, 1991 (27)",Squad Club Atlético Boca Juniors,left,"1,73 m",Frank Fabra,18.0,£5.40m

### Add Column of Club_Abbrev

In [265]:
tm_player['club'].unique()

array(['Squad Club Atlético Boca Juniors',
       'Squad Club Atlético Independiente',
       'Squad Club Atlético River Plate', 'Squad Racing Club',
       'Squad Club Atlético San Lorenzo de Almagro',
       'Squad Club Atlético Lanús', 'Squad Club Atlético Vélez Sarsfield',
       'Squad Club Deportivo Godoy Cruz Antonio Tomba',
       'Squad Club Atlético Colón',
       'Squad Club Social y Deportivo Defensa y Justicia',
       'Squad Club Atlético Rosario Central',
       'Squad Club Atlético Talleres',
       'Squad Club Atlético Unión (Santa Fe)',
       'Squad Club Estudiantes de La Plata',
       'Squad Club Atlético Huracán',
       'Squad Asociación Atlética Argentinos Juniors',
       'Squad Club Atlético Banfield', 'Squad Club Atlético Belgrano',
       'Squad Club Atlético Tigre',
       "Squad Club Atlético Newell's Old Boys",
       'Squad Club Atlético Tucumán',
       'Squad Club de Gimnasia y Esgrima La Plata',
       'Squad Club Atlético Aldosivi',
       'Squad Club Atlético San Martín (SJ)',
       'Squad Club Atlético San Martín (Tucumán)',
       'Squad Club Atlético Patronato de la Juventud Católica'],
      dtype=object)

In [268]:
tm_club_brev = {'Squad Club Atlético Boca Juniors': 'BOC' , 'Squad Club Atlético Independiente': 'IND', 'Squad Club Atlético River Plate': 'RIV', 'Squad Racing Club': 'RAC',
       'Squad Club Atlético San Lorenzo de Almagro': 'SLO', 'Squad Club Atlético Lanús': 'LAN', 'Squad Club Atlético Vélez Sarsfield': 'VEL',
       'Squad Club Deportivo Godoy Cruz Antonio Tomba': 'GOD', 'Squad Club Atlético Colón': 'COL', 'Squad Club Social y Deportivo Defensa y Justicia': 'DEF',
       'Squad Club Atlético Rosario Central': 'ROS', 'Squad Club Atlético Talleres': 'TAL', 'Squad Club Atlético Unión (Santa Fe)': 'UNI',
       'Squad Club Estudiantes de La Plata': 'EST', 'Squad Club Atlético Huracán': 'HUR', 'Squad Asociación Atlética Argentinos Juniors': 'ARG',
       'Squad Club Atlético Banfield': 'BAN', 'Squad Club Atlético Belgrano': 'BEL', 'Squad Club Atlético Tigre': 'TIG', "Squad Club Atlético Newell's Old Boys": 'NOB',
       'Squad Club Atlético Tucumán': 'ATT', 'Squad Club de Gimnasia y Esgrima La Plata': 'GIM', 'Squad Club Atlético Aldosivi': 'ALD',
       'Squad Club Atlético San Martín (SJ)': 'SMS', 'Squad Club Atlético San Martín (Tucumán)': 'SMT', 'Squad Club Atlético Patronato de la Juventud Católica': 'PA'}

In [269]:
tm_player.head()

,_id,birthday,club,foot,height,player,squad_num,transfer_value(sterlings)
0,5c0588e63d54c00a19927577,"Jan 26, 1991 (27)",Squad Club Atlético Boca Juniors,right,"1,94 m",Esteban Andrada,31,£4.50m
1,5c0588e73d54c00a19927578,"Mar 17, 1987 (31)",Squad Club Atlético Boca Juniors,right,"1,92 m",Carlos Lampe,28,£495k
2,5c0588e73d54c00a19927579,"Sep 27, 1993 (25)",Squad Club Atlético Boca Juniors,right,"1,85 m",Lisandro Magallán,6,£4.05m
3,5c0588e73d54c00a1992757a,"May 12, 1985 (33)",Squad Club Atlético Boca Juniors,right,"1,84 m",Paolo Goltz,2,£1.62m
4,5c0588e73d54c00a1992757b,"Feb 22, 1991 (27)",Squad Club Atlético Boca Juniors,left,"1,73 m",Frank Fabra,18,£5.40m

In [317]:
tm_player['club_brev'] = tm_player['club'].map(tm_club_brev)

In [318]:
tm_player.head()

,_id,birthday,club,foot,height,player,squad_num,transfer_value(sterlings),club_brev
0,5c0588e63d54c00a19927577,"Jan 26, 1991 (27)",Squad Club Atlético Boca Juniors,right,"1,94 m",Esteban Andrada,31.0,£4.50m,BOC
1,5c0588e73d54c00a19927578,"Mar 17, 1987 (31)",Squad Club Atlético Boca Juniors,right,"1,92 m",Carlos Lampe,28.0,£495k,BOC
2,5c0588e73d54c00a19927579,"Sep 27, 1993 (25)",Squad Club Atlético Boca Juniors,right,"1,85 m",Lisandro Magallán,6.0,£4.05m,BOC
3,5c0588e73d54c00a1992757a,"May 12, 1985 (33)",Squad Club Atlético Boca Juniors,right,"1,84 m",Paolo Goltz,2.0,£1.62m,BOC
4,5c0588e73d54c00a1992757b,"Feb 22, 1991 (27)",Squad Club Atlético Boca Juniors,left,"1,73 m",Frank Fabra,18.0,£5.40m,BOC

## Test Merge

In [321]:
players_minutes_df.head()

,game_id,name,player_id,position_id,squad_number,substitute,team_id,minutes_played,club_brev
0,448548,Alexander Domínguez,19132.0,1,22.0,False,20,90.0,VEL
1,448548,Lucas Hoyos,27987.0,1,12.0,True,20,0.0,VEL
2,448548,Gastón Díaz,30896.0,2,24.0,False,20,90.0,VEL
3,448548,Joaquín Laso,94225.0,2,6.0,False,20,90.0,VEL
4,448548,Luis Abram,99779.0,2,29.0,False,20,90.0,VEL

In [323]:
players = players_minutes_df['player_id'].unique()
player_minutes = []
for player in players:
    total_minutes = players_minutes_df[players_minutes_df['player_id'] == player]['minutes_played'].sum()
    name = players_minutes_df[players_minutes_df['player_id'] == player]['name'].iloc[0]
    squad_num = players_minutes_df[players_minutes_df['player_id'] == player]['squad_number'].iloc[0]
    club_brev = players_minutes_df[players_minutes_df['player_id'] == player]['club_brev'].iloc[0]
    player_minutes.append([player, total_minutes, name, squad_num, club_brev])
    
summed_player_min = pd.DataFrame(player_minutes, columns=['player_id', 'total_minutes_played', 'player_name', 'squad_num', 'club_brev'])

In [325]:
summed_player_min.head()

   player_id  total_minutes_played          player_name  squad_num club_brev
0    19132.0           1080.000000  Alexander Domínguez       22.0       VEL
1    27987.0             90.000000          Lucas Hoyos       12.0       VEL
2    30896.0            896.483333          Gastón Díaz       24.0       VEL
3    94225.0            990.000000         Joaquín Laso        6.0       VEL
4    99779.0           1080.000000           Luis Abram       29.0       VEL

In [327]:
player_merge_df = pd.merge(summed_player_min, tm_player, on=['club_brev', 'squad_num'])

In [329]:
player_merge_df.drop(columns=['_id', 'club_brev'], inplace=True)

In [335]:
columns = ['player_id', 'player_name', 'foot', 'birthday', 'club', 'transfer_value(sterlings)', 'total_minutes_played']

In [336]:
player_merge_df[columns]

,player_id,player_name,foot,birthday,club,transfer_value(sterlings),total_minutes_played
0,19132.0,Alexander Domínguez,right,"Jun 5, 1987 (31)",Squad Club Atlético Vélez Sarsfield,£1.58m,1080.000000
1,27987.0,Lucas Hoyos,right,"Apr 29, 1989 (29)",Squad Club Atlético Vélez Sarsfield,£135k,90.000000
2,30896.0,Gastón Díaz,right,"Mar 13, 1988 (30)",Squad Club Atlético Vélez Sarsfield,£450k,896.483333
3,94225.0,Joaquín Laso,right,"Jul 4, 1990 (28)",Squad Club Atlético Vélez Sarsfield,£270k,990.000000
4,99779.0,Luis Abram,left,"Feb 27, 1996 (22)",Squad Club Atlético Vélez Sarsfield,£405k,1080.000000
5,208534.0,Francisco Ortega,left,"Feb 19, 1999 (19)",Squad Club Atlético Vélez Sarsfield,£360k,360.000000
6,208462.0,Hernán De La Fuente,right,"Jan 7, 1997 (21)",Squad Club Atlético Vélez Sarsfield,£540k,270.000000
7,193952.0,Nahuel Arena,right,"Jun 2, 1998 (20)",Squad Club Atlético Vélez Sarsfield,-,-1.450000
8,185745.0,Lucas Robertone,right,"Mar 18, 1997 (21)",Squad Club Atlético Vélez Sarsfield,£2.70m,881.500000
9,60730.0,Gastón Giménez,left,"Jul 27, 1991 (27)",Squad Club Atlético Vélez Sarsfield,£1.80m,1126.450000
10,193955.0,Nicolás Domínguez,right,"Jun 28, 1998 (20)",Squad Club Atlético Vélez Sarsfield,£3.60m,1134.600000
11,2925.0,Jesús Méndez,right,"Aug 1, 1984 (34)",Squad Club Atlético Vélez Sarsfield,£315k,14.216667
12,215475.0,Thiago Almada,right,"Apr 26, 2001 (17)",Squad Club Atlético Vélez Sarsfield,-,334.100000
13,172756.0,Agustín Bouzat,left,"Mar 28, 1994 (24)",Squad Club Atlético Vélez Sarsfield,£1.58m,963.383333
14,42505.0,Jhonathan Ramis,right,"Nov 6, 1989 (29)",Squad Club Atlético Vélez Sarsfield,£630k,495.366667
15,177285.0,Matías Vargas,right,"May 8, 1997 (21)",Squad Club Atlético Vélez Sarsfield,£8.10m,1024.733333
16,30012.0,Rodrigo Salinas,right,"Jun 4, 1986 (32)",Squad Club Atlético Vélez Sarsfield,£360k,280.966667
17,153268.0,Nicolás Delgadillo,left,"Oct 2, 1997 (21)",Squad Club Atlético Vélez Sarsfield,£900k,124.550000
18,15325.0,Nelson Ibáñez,right,"Nov 13, 1981 (37)",Squad Club Atlético Newell's Old Boys,£180k,360.000000
19,39894.0,Iván Piris,right,"Mar 10, 1989 (29)",Squad Club Atlético Newell's Old Boys,£1.35m,720.000000
20,70151.0,Teodoro Paredes,right,"Apr 1, 1993 (25)",Squad Club Atlético Newell's Old Boys,£180k,540.000000
21,33777.0,Fabricio Fontanini,right,"Mar 30, 1990 (28)",Squad Club Atlético Newell's Old Boys,£540k,1080.000000
22,204820.0,Leonel Ferroni,left,"Jan 29, 1996 (22)",Squad Club Atlético Newell's Old Boys,£135k,324.533333
23,31274.0,Mariano Bíttolo,left,"Apr 24, 1990 (28)",Squad Club Atlético Newell's Old Boys,£540k,900.000000
24,146831.0,Stefano Callegari,right,"Jan 6, 1997 (21)",Squad Club Atlético Newell's Old Boys,£45k,630.000000
25,69857.0,Juan Ignacio Sills,right,"May 4, 1987 (31)",Squad Club Atlético Newell's Old Boys,£180k,464.916667
26,10601.0,Hernán Bernardello,right,"Aug 3, 1986 (32)",Squad Club Atlético Newell's Old Boys,£270k,1054.283333
27,77892.0,Joel Amoroso,right,"Jan 8, 1988 (30)",Squad Club Atlético Newell's Old Boys,£360k,719.616667
28,167929.0,Braian Rivero,right,"Feb 22, 1996 (22)",Squad Club Atlético Newell's Old Boys,£225k,517.933333
29,121341.0,Héctor Fértoli,right,"Dec 3, 1994 (24)",Squad Club Atlético Newell's Old Boys,£630k,855.133333
...,...,...,...,...,...,...,...
598,62169.0,Gino Peruzzi,right,"Jun 9, 1992 (26)",Squad Club Atlético Boca Juniors,£3.15m,270.000000
599,113707.0,Julián Chicco,right,"Jan 13, 1998 (20)",Squad Club Atlético Boca Juniors,£540k,174.350000
600,97535.0,Cristian Espinoza,right,"Apr 3, 1995 (23)",Squad Club Atlético Boca Juniors,£1.35m,297.100000
601,208585.0,Facundo Nadalín,right,"Aug 16, 1997 (21)",Squad Club Atlético Newell's Old Boys,£45k,450.000000
602,12609.0,Sebastián Torrico,right,"Feb 22, 1980 (38)",Squad Club Atlético San Lorenzo de Almagro,£270k,0.000000
603,215882.0,Manuel Insaurralde,right,"Jan 31, 1999 (19)",Squad Club Atlético San Lorenzo de Almagro,-,255.000000
604,407.0,Fernando Belluschi,both,"Sep 10, 1983 (35)",Squad Club Atlético San Lorenzo de Almagro,£2.03m,358.850000
605,52867.0,Franco Sbuttoni,right,"May 6, 1989 (29)",Squad Club Atlético Tucumán,£270k,0.000000
606,8995.0,Javier Toledo,right,"Apr 24, 1986 (32)",Squad Club Atlético Tucumán,£270k,131.866667
607,99045.0,Nicolás Pelaitay,right,"Dec 27, 1992 (25)",Squad Club Atlético San Martín (SJ),£180k,33.333333
608,63197.0,Fernando Brandán,right,"Mar 27, 1990 (28)",Squad Club Atlético San Martín (SJ),£495k,0.000000
609,106312.0,Lucas Acosta,right,"Mar 12, 1995 (23)",Squad Club Atlético Belgrano,£450k,0.000000
610,120431.0,Alexis Soto,left,"Oct 20, 1993 (25)",Squad Racing Club,£2.52m,148.850000
611,204560.0,Agustín Bolívar,right,"Jan 9, 1996 (22)",Squad Club de Gimnasia y Esgrima La Plata,£68k,0.000000
612,69819.0,Dardo Miloc,right,"Oct 16, 1990 (28)",Squad Club Atlético Aldosivi,£315k,225.000000
613,45639.0,David Drocco,right,"Jan 20, 1989 (29)",Squad Club Atlético Huracán,£225k,5.833333
614,221332.0,Agustín Casco,right,"May 25, 1993 (25)",Squad Club Atlético Huracán,£495k,10.250000
615,147292.0,Gastón Gómez,right,"Mar 4, 1996 (22)",Squad Racing Club,£450k,0.000000
616,204641.0,Fabricio Brener,right,"May 26, 1998 (20)",Squad Club Atlético Belgrano,£135k,13.466667
617,208582.0,Kevin Gutiérrez,right,"Jun 3, 1997 (21)",Squad Club de Gimnasia y Esgrima La Plata,-,0.000000
618,190318.0,Nahuel Tenaglia,right,"Feb 21, 1996 (22)",Squad Club Atlético Talleres,£135k,117.716667
619,130207.0,Francisco Fydriszewski,both,"Apr 13, 1993 (25)",Squad Club Atlético Newell's Old Boys,£180k,81.333333
620,199229.0,Alexis Rodríguez,right,"Mar 21, 1996 (22)",Squad Club Atlético Newell's Old Boys,£225k,11.716667
621,85722.0,Lautaro Giannetti,right,"Nov 13, 1993 (25)",Squad Club Atlético Vélez Sarsfield,£1.35m,90.000000
622,208530.0,Agustín Maziero,right,"Nov 27, 1997 (21)",Squad Club Atlético Rosario Central,£360k,13.833333
623,173028.0,Gabriel Carrasco,right,"Mar 7, 1997 (21)",Squad Club Atlético Lanús,£360k,90.000000
624,209808.0,Iván Bolaño,right,"May 15, 1998 (20)",Squad Club Atlético Tigre,£135k,0.000000
625,210379.0,Agustín Guiffrey,left,"Nov 3, 1997 (21)",Squad Club Atlético Patronato de la Juventud C...,-,13.950000
626,174238.0,José Correia,left,"Apr 17, 1990 (28)",Squad Club Atlético Newell's Old Boys,-,20.083333
627,174238.0,José Correia,left,"Oct 22, 1996 (22)",Squad Club Atlético Newell's Old Boys,£135k,20.083333