In [1]:
import pprint
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from json_shot_scraper import flatten_shot, flatten_goal, flatten_complete_pass, flatten_incomplete_pass, flatten_corner
from  player_scraper import flatten_player, flatten_sub
from dataframe_cleaner import (pass_to_shot, corner_to_shot, transpose_coordinates, coord_to_yards, 
                               shot_distance_angle, dummy_columns, drop_own_goals, goal_dummy)

In [6]:
from html_scraper import db
from mongo_to_db import game_to_cleaned_df, create_frame, create_master_df

In [2]:
pd.set_option('display.max_columns', 50)

In [4]:
db.list_collection_names()

['games']

In [19]:
games = db.games.find()

In [20]:
final_df = create_master_df(games)

/Users/david/galvanize/super_liga_xg/mongo_to_db.py:69: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  master_df = pd.concat([attach_to_df, df], axis=0, ignore_index=True)
/Users/david/galvanize/super_liga_xg/dataframe_cleaner.py:133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  input_df['is_goal'] = input_df.loc[:, 'shot_type'].isin([9, 11, 12, 13]).astype(int)

# EDA

In [21]:
final_df.head()

,game_id,player_id,shot_coord_x1,shot_coord_x2,shot_coord_y1,shot_coord_y2,shot_coord_z1,shot_coord_z2,shot_id,shot_type,team_id,time_of_event(min),passed_from_id,pass_coord_x1,pass_coord_x2,pass_coord_y1,pass_coord_y2,pass_coord_z1,pass_coord_z2,corner_kick,shot_distance,shot_angle,assisted_shot,is_penalty_attempt,is_goal
0,448548,99779.0,6.67,0.00,1.51,-1.21,-1,0.83,22336297,11,20,1.033333,177285.0,0.89,12.44,29.36,-4.84,-1.0,-1.0,1.0,6.838786,12.755990,1,0,1.0
1,448548,60730.0,21.33,12.00,4.24,-0.91,-1,0.73,22336386,35,20,9.683333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,21.747333,11.242763,0,0,0.0
2,448548,177285.0,12.00,1.78,0.00,-3.03,-1,0.21,22336583,13,20,26.833333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.000000,0.000000,0,1,1.0
3,448548,185745.0,8.44,0.89,14.53,-6.66,-1,-1.00,22336723,33,20,38.883333,177285.0,22.67,6.22,3.93,19.67,-1.0,-1.0,0.0,16.803407,59.849102,1,0,0.0
4,448548,77892.0,22.22,0.44,13.92,-8.48,-1,-1.00,22336739,33,13,40.083333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,26.220122,32.065607,0,0,0.0

In [22]:
final_df.describe()

,player_id,shot_coord_x1,shot_coord_x2,shot_coord_y1,shot_coord_y2,shot_coord_z2,time_of_event(min),passed_from_id,pass_coord_x1,pass_coord_x2,pass_coord_y1,pass_coord_y2,pass_coord_z1,pass_coord_z2,corner_kick,shot_distance,shot_angle,is_goal
count,2955.000000,2955.000000,2955.000000,2955.000000,2955.000000,2955.000000,2955.000000,1221.000000,1221.000000,1221.000000,1221.000000,1221.000000,1221.0,1221.0,2945.000000,2955.000000,2955.000000,2955.000000
mean,83417.628088,15.376156,2.049354,0.202876,0.057773,-0.252988,50.018252,85681.678133,20.738591,17.941474,1.218714,0.186478,-1.0,-1.0,0.086927,17.779827,0.275928,0.109983
std,64229.759131,6.624601,3.816875,8.803820,5.448328,0.738580,26.590282,62086.040107,16.754803,11.353598,18.873264,10.908477,0.0,0.0,0.281776,6.458381,31.213869,0.312922
min,51.000000,0.000000,0.000000,-29.060000,-24.520000,-1.000000,0.250000,51.000000,0.000000,0.440000,-30.270000,-28.450000,-1.0,-1.0,0.000000,0.300000,-90.000000,0.000000
25%,30012.000000,10.670000,0.440000,-6.050000,-3.030000,-1.000000,27.616667,37152.000000,6.220000,10.670000,-14.230000,-6.960000,-1.0,-1.0,0.000000,12.441808,-22.223473,0.000000
50%,69857.000000,13.330000,0.890000,0.000000,0.300000,0.100000,50.600000,70512.000000,20.000000,14.220000,1.210000,-0.300000,-1.0,-1.0,0.000000,16.716028,0.000000,0.000000
75%,126644.000000,20.890000,2.220000,6.660000,3.030000,0.380000,73.208333,122008.000000,30.220000,23.560000,18.160000,6.960000,-1.0,-1.0,0.000000,23.315904,22.826916,0.000000
max,220396.000000,40.890000,88.440000,27.540000,26.030000,1.290000,98.850000,220396.000000,88.890000,83.560000,30.270000,28.760000,-1.0,-1.0,1.000000,47.678323,88.149038,1.000000

In [31]:
#goals that were assisted
final_df[(final_df['is_goal'] == 1) & (final_df['assisted_shot'] == 1)].head()

,game_id,player_id,shot_coord_x1,shot_coord_x2,shot_coord_y1,shot_coord_y2,shot_coord_z1,shot_coord_z2,shot_id,shot_type,team_id,time_of_event(min),passed_from_id,pass_coord_x1,pass_coord_x2,pass_coord_y1,pass_coord_y2,pass_coord_z1,pass_coord_z2,corner_kick,shot_distance,shot_angle,assisted_shot,is_penalty_attempt,is_goal
0,448548,99779.0,6.67,0.00,1.51,-1.21,-1,0.83,22336297,11,20,1.033333,177285.0,0.89,12.44,29.36,-4.84,-1.0,-1.0,1.0,6.838786,12.755990,1,0,1.0
15,448543,8907.0,11.56,0.44,-10.59,2.42,-1,0.08,22337581,9,136,10.916667,68605.0,21.78,15.11,3.03,-9.38,-1.0,-1.0,0.0,15.677426,-42.492487,1,0,1.0
95,448536,111421.0,18.67,0.44,-8.78,-2.12,-1,0.22,22372861,9,5,8.100000,618.0,1.78,11.56,29.66,-3.63,-1.0,-1.0,1.0,20.631464,-25.186343,1,0,1.0
152,448538,114108.0,8.89,0.00,-4.24,-1.21,-1,0.91,22383020,9,129,79.300000,193188.0,8.89,9.33,-11.80,-3.93,-1.0,-1.0,0.0,9.849350,-25.498359,1,0,1.0
153,448538,114108.0,9.33,0.00,3.03,1.21,-1,0.48,22383255,11,129,82.983333,172760.0,25.33,8.44,-27.24,7.26,-1.0,-1.0,0.0,9.809679,17.991663,1,0,1.0

In [32]:
#missed penalty kicks
final_df[final_df['shot_type'] == 44]

,game_id,player_id,shot_coord_x1,shot_coord_x2,shot_coord_y1,shot_coord_y2,shot_coord_z1,shot_coord_z2,shot_id,shot_type,team_id,time_of_event(min),passed_from_id,pass_coord_x1,pass_coord_x2,pass_coord_y1,pass_coord_y2,pass_coord_z1,pass_coord_z2,corner_kick,shot_distance,shot_angle,assisted_shot,is_penalty_attempt,is_goal
170,448541,77919.0,11.56,0.44,-0.30,-2.12,-1,1.10,22392267,44,17,15.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,11.563892,-1.486581,0,1,0.0
332,448561,46612.0,11.56,1.78,-0.61,6.36,-1,0.29,22462959,44,869,45.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,11.576083,-3.020592,0,1,0.0

In [35]:
#converted penalty kicks
final_df[final_df['shot_type'] == 13].head()

,game_id,player_id,shot_coord_x1,shot_coord_x2,shot_coord_y1,shot_coord_y2,shot_coord_z1,shot_coord_z2,shot_id,shot_type,team_id,time_of_event(min),passed_from_id,pass_coord_x1,pass_coord_x2,pass_coord_y1,pass_coord_y2,pass_coord_z1,pass_coord_z2,corner_kick,shot_distance,shot_angle,assisted_shot,is_penalty_attempt,is_goal
2,448548,177285.0,12.00,1.78,0.00,-3.03,-1,0.21,22336583,13,20,26.833333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.000000,0.000000,0,1,1.0
142,448546,58422.0,11.56,0.44,0.30,0.61,-1,0.26,22378506,13,132,94.766667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,11.563892,1.486581,0,1,1.0
143,448538,20195.0,11.56,0.00,0.30,-3.03,-1,0.10,22379135,13,12,5.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,11.563892,1.486581,0,1,1.0
223,448537,55267.0,12.00,0.00,-0.30,-3.93,-1,0.41,23680859,13,10,78.150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.003749,-1.432096,0,1,1.0
278,448556,163041.0,12.00,1.78,-0.91,-3.93,-1,0.22,22437147,13,129,83.583333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.034455,-4.336630,0,1,1.0

# Random Forest

In [65]:
from sklearn.metrics import log_loss
from sklearn.model_selection import train_test_split
from sklearn.ensemble import  RandomForestClassifier

In [66]:
rf_columns = ['player_id', 'shot_distance', 'shot_angle', 'assisted_shot', 'is_penalty_attempt']

In [67]:
hold_off = final_df.sample(frac=.2, random_state=8)
hold_off_x = hold_off[rf_columns]
hold_off_y = hold_off['is_goal']

In [68]:
train = final_df.drop(hold_off.index).copy()
data = train[rf_columns]
y = train['is_goal']
indices = train.index.values

In [69]:
X_train, X_test,indices_train,indices_test = train_test_split(data,indices, test_size=0.33, random_state=8)

y_train, y_test = y[indices_train],  y[indices_test]

In [70]:
random_forest_model = RandomForestClassifier(n_estimators=300, max_depth=3, verbose=1)
random_forest_model.fit(X_train, y_train)
p_random_forest = random_forest_model.predict_proba(X_test)
random_forest_ll = log_loss(y_test, p_random_forest )

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    0.0s finished

In [71]:
p_random_forest

array([[0.89424521, 0.10575479],
       [0.90634936, 0.09365064],
       [0.93825623, 0.06174377],
       ...,
       [0.92900448, 0.07099552],
       [0.8855852 , 0.1144148 ],
       [0.45570813, 0.54429187]])

In [76]:
df_test = pd.DataFrame(X_test)
df_test['is_goal'] = y_test
df_test['prob_0'] = p_random_forest[:,0] 
df_test['prob_1'] = p_random_forest[:,1]

In [78]:
df_test[df_test['is_goal'] == 1]

,player_id,shot_distance,shot_angle,assisted_shot,is_penalty_attempt,is_goal,prob_0,prob_1
2794,15113.0,12.015494,2.910031,0,1,1.0,0.293490,0.706510
509,114108.0,11.676344,-40.415011,0,0,1.0,0.907008,0.092992
2273,85272.0,17.180736,-47.712851,1,0,1.0,0.926294,0.073706
756,185878.0,14.335997,7.293562,0,0,1.0,0.936567,0.063433
18,55210.0,5.037480,-13.898315,0,0,1.0,0.407489,0.592511
1328,31807.0,13.313189,-14.485081,0,0,1.0,0.898665,0.101335
1279,81291.0,20.709479,9.253098,0,0,1.0,0.927604,0.072396
2659,488.0,11.563892,-1.486581,0,1,1.0,0.285492,0.714508
2096,193168.0,5.752652,31.783676,1,0,1.0,0.663711,0.336289
1230,172801.0,11.270572,18.788622,1,0,1.0,0.911108,0.088892
899,179703.0,17.784760,45.615080,1,0,1.0,0.943819,0.056181
1510,618.0,12.440000,0.000000,0,1,1.0,0.305710,0.694290
1160,172760.0,13.019036,-44.221995,0,0,1.0,0.920113,0.079887
2546,119431.0,11.687985,18.093907,1,0,1.0,0.904926,0.095074
2170,136659.0,10.824107,9.679878,0,0,1.0,0.905900,0.094100
1491,99008.0,25.675874,17.849238,0,0,1.0,0.937371,0.062629
281,101.0,12.003749,-1.432096,0,1,1.0,0.292048,0.707952
1375,66503.0,10.380790,-10.097504,1,0,1.0,0.866044,0.133956
2464,47913.0,12.401524,41.207656,0,0,1.0,0.905756,0.094244
367,47913.0,10.268267,-52.717187,0,0,1.0,0.868881,0.131119
391,40397.0,11.258086,-9.303354,1,0,1.0,0.878923,0.121077
492,17135.0,10.007862,-54.721878,0,0,1.0,0.852489,0.147511
1184,121814.0,14.401090,22.237307,0,0,1.0,0.934377,0.065623
2626,84739.0,9.680005,-34.264648,0,0,1.0,0.865344,0.134656
190,33058.0,9.408135,7.389398,1,0,1.0,0.837820,0.162180
2472,9146.0,5.539765,15.817535,1,0,1.0,0.461198,0.538802
2852,135386.0,12.003749,-1.432096,0,1,1.0,0.320777,0.679223
142,58422.0,11.563892,1.486581,0,1,1.0,0.325229,0.674771
1596,203.0,12.673200,-11.008472,0,0,1.0,0.893319,0.106681
1850,42505.0,15.401299,36.125838,1,0,1.0,0.919122,0.080878
...,...,...,...,...,...,...,...,...
1091,117606.0,11.017840,-58.358430,0,0,1.0,0.901753,0.098247
1884,206572.0,27.246110,5.729425,0,0,1.0,0.945816,0.054184
253,33777.0,12.572430,-8.323451,1,0,1.0,0.891783,0.108217
977,24256.0,9.906452,19.642152,1,0,1.0,0.844187,0.155813
562,120432.0,9.718400,16.253130,0,0,1.0,0.894106,0.105894
2530,70512.0,24.839696,-18.471420,0,0,1.0,0.934419,0.065581
2236,98292.0,9.854567,-7.052901,0,0,1.0,0.880703,0.119297
400,20195.0,8.910903,3.925279,0,0,1.0,0.799363,0.200637
989,8904.0,12.946668,-5.362710,1,0,1.0,0.889618,0.110382
416,488.0,15.693620,15.674591,0,0,1.0,0.904719,0.095281
1825,193188.0,16.682332,-39.405400,0,0,1.0,0.940704,0.059296
1318,39742.0,16.839626,37.666094,1,0,1.0,0.916321,0.083679
1004,54702.0,15.547714,-19.343959,0,0,1.0,0.921002,0.078998
2908,77944.0,10.502609,-13.321737,0,0,1.0,0.876396,0.123604
1528,193188.0,14.025249,-31.173938,1,0,1.0,0.936259,0.063741
1823,119431.0,27.278801,6.377303,0,0,1.0,0.942322,0.057678
645,77944.0,25.331776,-0.678560,0,0,1.0,0.932033,0.067967
815,2439.0,14.539233,-12.028701,1,0,1.0,0.908357,0.091643
2189,172565.0,13.473559,-40.665869,0,0,1.0,0.923262,0.076738
95,111421.0,20.631464,-25.186343,1,0,1.0,0.942245,0.057755
1333,77919.0,17.786000,-53.136545,0,0,1.0,0.930347,0.069653
1000,51413.0,5.733315,-71.912677,0,0,1.0,0.401397,0.598603
702,172565.0,9.906452,19.642152,1,0,1.0,0.900554,0.099446
2268,203.0,10.030080,37.098394,0,0,1.0,0.849507,0.150493
2181,31939.0,13.058426,-23.227397,0,0,1.0,0.898098,0.101902
2203,488.0,10.074959,13.898315,0,0,1.0,0.843166,0.156834
1029,52390.0,8.574013,-10.143467,1,0,1.0,0.472511,0.527489
2290,16081.0,11.576083,-3.020592,0,1,1.0,0.343600,0.656400
1558,30012.0,12.473239,-4.183799,0,0,1.0,0.888978,0.111022
2480,179961.0,20.002250,-0.859372,0,0,1.0,0.938946,0.061054

In [79]:
df_test[df_test['is_goal'] == 0]

,player_id,shot_distance,shot_angle,assisted_shot,is_penalty_attempt,is_goal,prob_0,prob_1
1733,16081.0,12.899043,37.598383,0,0,0.0,0.894245,0.105755
1290,49043.0,13.739643,-14.026129,0,0,0.0,0.906349,0.093651
334,118855.0,16.944595,-30.030079,0,0,0.0,0.938256,0.061744
1951,49584.0,15.677426,-42.492487,1,0,0.0,0.917068,0.082932
840,84739.0,14.160526,-38.318578,1,0,0.0,0.919757,0.080243
1283,49043.0,22.778027,-23.492548,0,0,0.0,0.931135,0.068865
2595,16081.0,32.068653,-25.726052,0,0,0.0,0.920233,0.079767
1738,8513.0,22.768911,-5.342515,0,0,0.0,0.917178,0.082822
2921,42505.0,15.966089,27.046517,1,0,0.0,0.920378,0.079622
286,24111.0,21.332110,-0.805795,0,0,0.0,0.914393,0.085607
2876,117606.0,26.227095,-1.332728,0,0,0.0,0.942816,0.057184
2528,150346.0,12.328195,-49.539853,0,0,0.0,0.916861,0.083139
1598,167990.0,17.146242,43.487592,1,0,0.0,0.942092,0.057908
1654,147570.0,14.290255,21.123869,0,0,0.0,0.935117,0.064883
1471,117606.0,11.784609,-19.480488,0,0,0.0,0.910732,0.089268
1204,78833.0,20.973757,-21.157151,0,0,0.0,0.933617,0.066383
2327,66596.0,13.541850,51.445916,1,0,0.0,0.913254,0.086746
2545,114108.0,22.248146,-11.774592,1,0,0.0,0.942773,0.057227
1849,193955.0,24.976711,-11.899291,0,0,0.0,0.945949,0.054051
552,65598.0,15.966089,27.046517,0,0,0.0,0.926539,0.073461
1935,16283.0,17.971678,23.826533,0,0,0.0,0.917096,0.082904
1301,36117.0,25.331190,15.243216,1,0,0.0,0.919710,0.080290
2482,120432.0,19.298135,19.242407,0,0,0.0,0.939676,0.060324
2073,69296.0,11.964280,45.135451,0,0,0.0,0.900598,0.099402
324,37092.0,24.007751,1.455954,0,0,0.0,0.919816,0.080184
1195,172730.0,13.615028,-35.312644,0,0,0.0,0.923323,0.076677
1595,29111.0,11.623154,-5.975463,1,0,0.0,0.877357,0.122643
712,86727.0,11.114050,1.546765,0,0,0.0,0.879569,0.120431
320,28126.0,12.313050,20.142129,1,0,0.0,0.889699,0.110301
1138,72225.0,11.370510,-12.288323,1,0,0.0,0.890912,0.109088
...,...,...,...,...,...,...,...,...
2618,135386.0,19.281361,-57.991467,0,0,0.0,0.940676,0.059324
863,45616.0,21.338721,-1.638111,1,0,0.0,0.927793,0.072207
1815,219184.0,17.479820,46.645844,0,0,0.0,0.936155,0.063845
1119,55204.0,27.364941,-30.575949,1,0,0.0,0.931152,0.068848
2218,17266.0,12.801629,29.789292,0,0,0.0,0.895360,0.104640
2232,44918.0,24.190513,7.195523,0,0,0.0,0.929482,0.070518
2242,60730.0,26.926749,32.657238,1,0,0.0,0.936095,0.063905
2409,216997.0,18.510832,16.153728,1,0,0.0,0.937513,0.062487
684,167990.0,13.776505,-58.929255,1,0,0.0,0.925630,0.074370
2383,16081.0,17.022529,7.154240,1,0,0.0,0.910861,0.089139
949,162738.0,15.677426,-42.492487,0,0,0.0,0.931720,0.068280
1098,101036.0,13.976498,37.353637,0,0,0.0,0.936613,0.063387
857,6365.0,8.634003,12.168914,0,0,0.0,0.498533,0.501467
72,172730.0,9.799005,3.569040,1,0,0.0,0.896352,0.103648
134,29111.0,9.505856,-11.038054,0,0,0.0,0.848904,0.151096
2850,68988.0,19.871955,15.917673,1,0,0.0,0.928386,0.071614
2080,15339.0,11.254901,-56.451124,1,0,0.0,0.877199,0.122801
1407,28114.0,24.251517,13.715358,0,0,0.0,0.918143,0.081857
613,126.0,14.901158,-26.547856,0,0,0.0,0.909939,0.090061
1014,39796.0,9.505856,11.038054,0,0,0.0,0.848820,0.151180
585,198280.0,15.941659,-36.043228,1,0,0.0,0.933927,0.066073
443,163302.0,7.903575,-32.443392,0,0,0.0,0.587730,0.412270
2873,116196.0,11.702393,8.947173,0,0,0.0,0.905841,0.094159
625,193168.0,24.507672,4.258846,0,0,0.0,0.945660,0.054340
340,1325.0,12.137232,8.624134,0,0,0.0,0.881685,0.118315
1262,172673.0,26.769716,-28.345694,0,0,0.0,0.943866,0.056134
1587,17090.0,14.347784,-49.437688,1,0,0.0,0.909539,0.090461
1508,69646.0,20.036569,-3.462175,0,0,0.0,0.929004,0.070996
2005,140.0,12.030067,-16.069696,0,0,0.0,0.885585,0.114415
2590,9146.0,5.812099,6.024486,1,0,0.0,0.455708,0.544292