In [1]:
import pprint
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from json_shot_scraper import flatten_shot, flatten_goal, flatten_complete_pass, flatten_incomplete_pass, flatten_corner
from  player_scraper import flatten_player, flatten_sub
from dataframe_cleaner import (pass_to_shot, corner_to_shot, transpose_coordinates, coord_to_yards, 
                               shot_distance_angle, dummy_columns, drop_own_goals, goal_dummy)

In [6]:
from html_scraper import db
from mongo_to_db import game_to_cleaned_df, create_frame, create_master_df

In [2]:
pd.set_option('display.max_columns', 50)

In [4]:
db.list_collection_names()

['games']

In [19]:
games = db.games.find()

In [20]:
final_df = create_master_df(games)

/Users/david/galvanize/super_liga_xg/mongo_to_db.py:69: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  master_df = pd.concat([attach_to_df, df], axis=0, ignore_index=True)
/Users/david/galvanize/super_liga_xg/dataframe_cleaner.py:133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  input_df['is_goal'] = input_df.loc[:, 'shot_type'].isin([9, 11, 12, 13]).astype(int)

# EDA

In [21]:
final_df.head()

,game_id,player_id,shot_coord_x1,shot_coord_x2,shot_coord_y1,shot_coord_y2,shot_coord_z1,shot_coord_z2,shot_id,shot_type,team_id,time_of_event(min),passed_from_id,pass_coord_x1,pass_coord_x2,pass_coord_y1,pass_coord_y2,pass_coord_z1,pass_coord_z2,corner_kick,shot_distance,shot_angle,assisted_shot,is_penalty_attempt,is_goal
0,448548,99779.0,6.67,0.00,1.51,-1.21,-1,0.83,22336297,11,20,1.033333,177285.0,0.89,12.44,29.36,-4.84,-1.0,-1.0,1.0,6.838786,12.755990,1,0,1.0
1,448548,60730.0,21.33,12.00,4.24,-0.91,-1,0.73,22336386,35,20,9.683333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,21.747333,11.242763,0,0,0.0
2,448548,177285.0,12.00,1.78,0.00,-3.03,-1,0.21,22336583,13,20,26.833333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.000000,0.000000,0,1,1.0
3,448548,185745.0,8.44,0.89,14.53,-6.66,-1,-1.00,22336723,33,20,38.883333,177285.0,22.67,6.22,3.93,19.67,-1.0,-1.0,0.0,16.803407,59.849102,1,0,0.0
4,448548,77892.0,22.22,0.44,13.92,-8.48,-1,-1.00,22336739,33,13,40.083333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,26.220122,32.065607,0,0,0.0

In [22]:
final_df.describe()

,player_id,shot_coord_x1,shot_coord_x2,shot_coord_y1,shot_coord_y2,shot_coord_z2,time_of_event(min),passed_from_id,pass_coord_x1,pass_coord_x2,pass_coord_y1,pass_coord_y2,pass_coord_z1,pass_coord_z2,corner_kick,shot_distance,shot_angle,is_goal
count,2955.000000,2955.000000,2955.000000,2955.000000,2955.000000,2955.000000,2955.000000,1221.000000,1221.000000,1221.000000,1221.000000,1221.000000,1221.0,1221.0,2945.000000,2955.000000,2955.000000,2955.000000
mean,83417.628088,15.376156,2.049354,0.202876,0.057773,-0.252988,50.018252,85681.678133,20.738591,17.941474,1.218714,0.186478,-1.0,-1.0,0.086927,17.779827,0.275928,0.109983
std,64229.759131,6.624601,3.816875,8.803820,5.448328,0.738580,26.590282,62086.040107,16.754803,11.353598,18.873264,10.908477,0.0,0.0,0.281776,6.458381,31.213869,0.312922
min,51.000000,0.000000,0.000000,-29.060000,-24.520000,-1.000000,0.250000,51.000000,0.000000,0.440000,-30.270000,-28.450000,-1.0,-1.0,0.000000,0.300000,-90.000000,0.000000
25%,30012.000000,10.670000,0.440000,-6.050000,-3.030000,-1.000000,27.616667,37152.000000,6.220000,10.670000,-14.230000,-6.960000,-1.0,-1.0,0.000000,12.441808,-22.223473,0.000000
50%,69857.000000,13.330000,0.890000,0.000000,0.300000,0.100000,50.600000,70512.000000,20.000000,14.220000,1.210000,-0.300000,-1.0,-1.0,0.000000,16.716028,0.000000,0.000000
75%,126644.000000,20.890000,2.220000,6.660000,3.030000,0.380000,73.208333,122008.000000,30.220000,23.560000,18.160000,6.960000,-1.0,-1.0,0.000000,23.315904,22.826916,0.000000
max,220396.000000,40.890000,88.440000,27.540000,26.030000,1.290000,98.850000,220396.000000,88.890000,83.560000,30.270000,28.760000,-1.0,-1.0,1.000000,47.678323,88.149038,1.000000

In [31]:
#goals that were assisted
final_df[(final_df['is_goal'] == 1) & (final_df['assisted_shot'] == 1)].head()

,game_id,player_id,shot_coord_x1,shot_coord_x2,shot_coord_y1,shot_coord_y2,shot_coord_z1,shot_coord_z2,shot_id,shot_type,team_id,time_of_event(min),passed_from_id,pass_coord_x1,pass_coord_x2,pass_coord_y1,pass_coord_y2,pass_coord_z1,pass_coord_z2,corner_kick,shot_distance,shot_angle,assisted_shot,is_penalty_attempt,is_goal
0,448548,99779.0,6.67,0.00,1.51,-1.21,-1,0.83,22336297,11,20,1.033333,177285.0,0.89,12.44,29.36,-4.84,-1.0,-1.0,1.0,6.838786,12.755990,1,0,1.0
15,448543,8907.0,11.56,0.44,-10.59,2.42,-1,0.08,22337581,9,136,10.916667,68605.0,21.78,15.11,3.03,-9.38,-1.0,-1.0,0.0,15.677426,-42.492487,1,0,1.0
95,448536,111421.0,18.67,0.44,-8.78,-2.12,-1,0.22,22372861,9,5,8.100000,618.0,1.78,11.56,29.66,-3.63,-1.0,-1.0,1.0,20.631464,-25.186343,1,0,1.0
152,448538,114108.0,8.89,0.00,-4.24,-1.21,-1,0.91,22383020,9,129,79.300000,193188.0,8.89,9.33,-11.80,-3.93,-1.0,-1.0,0.0,9.849350,-25.498359,1,0,1.0
153,448538,114108.0,9.33,0.00,3.03,1.21,-1,0.48,22383255,11,129,82.983333,172760.0,25.33,8.44,-27.24,7.26,-1.0,-1.0,0.0,9.809679,17.991663,1,0,1.0

In [32]:
#missed penalty kicks
final_df[final_df['shot_type'] == 44]

,game_id,player_id,shot_coord_x1,shot_coord_x2,shot_coord_y1,shot_coord_y2,shot_coord_z1,shot_coord_z2,shot_id,shot_type,team_id,time_of_event(min),passed_from_id,pass_coord_x1,pass_coord_x2,pass_coord_y1,pass_coord_y2,pass_coord_z1,pass_coord_z2,corner_kick,shot_distance,shot_angle,assisted_shot,is_penalty_attempt,is_goal
170,448541,77919.0,11.56,0.44,-0.30,-2.12,-1,1.10,22392267,44,17,15.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,11.563892,-1.486581,0,1,0.0
332,448561,46612.0,11.56,1.78,-0.61,6.36,-1,0.29,22462959,44,869,45.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,11.576083,-3.020592,0,1,0.0

In [35]:
#converted penalty kicks
final_df[final_df['shot_type'] == 13].head()

,game_id,player_id,shot_coord_x1,shot_coord_x2,shot_coord_y1,shot_coord_y2,shot_coord_z1,shot_coord_z2,shot_id,shot_type,team_id,time_of_event(min),passed_from_id,pass_coord_x1,pass_coord_x2,pass_coord_y1,pass_coord_y2,pass_coord_z1,pass_coord_z2,corner_kick,shot_distance,shot_angle,assisted_shot,is_penalty_attempt,is_goal
2,448548,177285.0,12.00,1.78,0.00,-3.03,-1,0.21,22336583,13,20,26.833333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.000000,0.000000,0,1,1.0
142,448546,58422.0,11.56,0.44,0.30,0.61,-1,0.26,22378506,13,132,94.766667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,11.563892,1.486581,0,1,1.0
143,448538,20195.0,11.56,0.00,0.30,-3.03,-1,0.10,22379135,13,12,5.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,11.563892,1.486581,0,1,1.0
223,448537,55267.0,12.00,0.00,-0.30,-3.93,-1,0.41,23680859,13,10,78.150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.003749,-1.432096,0,1,1.0
278,448556,163041.0,12.00,1.78,-0.91,-3.93,-1,0.22,22437147,13,129,83.583333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.034455,-4.336630,0,1,1.0

# Random Forest

In [65]:
from sklearn.metrics import log_loss
from sklearn.model_selection import train_test_split
from sklearn.ensemble import  RandomForestClassifier

In [66]:
rf_columns = ['player_id', 'shot_distance', 'shot_angle', 'assisted_shot', 'is_penalty_attempt']

In [67]:
hold_off = final_df.sample(frac=.2, random_state=8)
hold_off_x = hold_off[rf_columns]
hold_off_y = hold_off['is_goal']

In [68]:
train = final_df.drop(hold_off.index).copy()
data = train[rf_columns]
y = train['is_goal']
indices = train.index.values

In [69]:
X_train, X_test,indices_train,indices_test = train_test_split(data,indices, test_size=0.33, random_state=8)

y_train, y_test = y[indices_train],  y[indices_test]

In [70]:
random_forest_model = RandomForestClassifier(n_estimators=300, max_depth=3, verbose=1)
random_forest_model.fit(X_train, y_train)
p_random_forest = random_forest_model.predict_proba(X_test)
random_forest_ll = log_loss(y_test, p_random_forest )

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    0.0s finished

In [71]:
p_random_forest

array([[0.89424521, 0.10575479],
       [0.90634936, 0.09365064],
       [0.93825623, 0.06174377],
       ...,
       [0.92900448, 0.07099552],
       [0.8855852 , 0.1144148 ],
       [0.45570813, 0.54429187]])

In [76]:
df_test = pd.DataFrame(X_test)
df_test['is_goal'] = y_test
df_test['prob_0'] = p_random_forest[:,0] 
df_test['prob_1'] = p_random_forest[:,1]

In [82]:
print(df_test[df_test['is_goal'] == 1]['prob_1'].sum())
df_test[df_test['is_goal'] == 1].head()

18.266360990555988

,player_id,shot_distance,shot_angle,assisted_shot,is_penalty_attempt,is_goal,prob_0,prob_1
2794,15113.0,12.015494,2.910031,0,1,1.0,0.293490,0.706510
509,114108.0,11.676344,-40.415011,0,0,1.0,0.907008,0.092992
2273,85272.0,17.180736,-47.712851,1,0,1.0,0.926294,0.073706
756,185878.0,14.335997,7.293562,0,0,1.0,0.936567,0.063433
18,55210.0,5.037480,-13.898315,0,0,1.0,0.407489,0.592511

In [83]:
print(df_test[df_test['is_goal'] == 0]['prob_1'].sum())
df_test[df_test['is_goal'] == 0].head()

68.13319367924899

,player_id,shot_distance,shot_angle,assisted_shot,is_penalty_attempt,is_goal,prob_0,prob_1
1733,16081.0,12.899043,37.598383,0,0,0.0,0.894245,0.105755
1290,49043.0,13.739643,-14.026129,0,0,0.0,0.906349,0.093651
334,118855.0,16.944595,-30.030079,0,0,0.0,0.938256,0.061744
1951,49584.0,15.677426,-42.492487,1,0,0.0,0.917068,0.082932
840,84739.0,14.160526,-38.318578,1,0,0.0,0.919757,0.080243

# Combining output with original dataframe

In [89]:
to_add_indices = X_test.index

In [91]:
combined_df = final_df.loc[to_add_indices, :].copy()

In [92]:
combined_df.head()

,game_id,player_id,shot_coord_x1,shot_coord_x2,shot_coord_y1,shot_coord_y2,shot_coord_z1,shot_coord_z2,shot_id,shot_type,team_id,time_of_event(min),passed_from_id,pass_coord_x1,pass_coord_x2,pass_coord_y1,pass_coord_y2,pass_coord_z1,pass_coord_z2,corner_kick,shot_distance,shot_angle,assisted_shot,is_penalty_attempt,is_goal
1733,448637,16081.0,10.22,0.44,7.87,-0.30,-1,-1.00,23202073,33,815,32.683333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.899043,37.598383,0,0,0.0
1290,448611,49043.0,13.33,12.89,-3.33,-3.03,-1,0.12,22965295,35,2,76.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,13.739643,-14.026129,0,0,0.0
334,448561,118855.0,14.67,0.44,-8.48,-2.12,-1,-1.00,22463506,33,134,52.150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,16.944595,-30.030079,0,0,0.0
1951,448642,49584.0,11.56,2.22,-10.59,-2.12,-1,0.16,23366833,35,815,38.783333,4818.0,57.33,46.22,15.13,8.17,-1.0,-1.0,0.0,15.677426,-42.492487,1,0,0.0
840,448583,84739.0,11.11,1.78,-8.78,0.61,-1,0.63,22682090,35,10,12.166667,58112.0,4.00,12.89,23.31,-3.03,-1.0,-1.0,0.0,14.160526,-38.318578,1,0,0.0

In [93]:
combined_df['xG'] = p_random_forest[:,1]

In [95]:
combined_df.head()

,game_id,player_id,shot_coord_x1,shot_coord_x2,shot_coord_y1,shot_coord_y2,shot_coord_z1,shot_coord_z2,shot_id,shot_type,team_id,time_of_event(min),passed_from_id,pass_coord_x1,pass_coord_x2,pass_coord_y1,pass_coord_y2,pass_coord_z1,pass_coord_z2,corner_kick,shot_distance,shot_angle,assisted_shot,is_penalty_attempt,is_goal,xG
1733,448637,16081.0,10.22,0.44,7.87,-0.30,-1,-1.00,23202073,33,815,32.683333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.899043,37.598383,0,0,0.0,0.105755
1290,448611,49043.0,13.33,12.89,-3.33,-3.03,-1,0.12,22965295,35,2,76.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,13.739643,-14.026129,0,0,0.0,0.093651
334,448561,118855.0,14.67,0.44,-8.48,-2.12,-1,-1.00,22463506,33,134,52.150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,16.944595,-30.030079,0,0,0.0,0.061744
1951,448642,49584.0,11.56,2.22,-10.59,-2.12,-1,0.16,23366833,35,815,38.783333,4818.0,57.33,46.22,15.13,8.17,-1.0,-1.0,0.0,15.677426,-42.492487,1,0,0.0,0.082932
840,448583,84739.0,11.11,1.78,-8.78,0.61,-1,0.63,22682090,35,10,12.166667,58112.0,4.00,12.89,23.31,-3.03,-1.0,-1.0,0.0,14.160526,-38.318578,1,0,0.0,0.080243

In [102]:
combined_df['xA'] = combined_df['assisted_shot'] * combined_df['xG']

In [108]:
com_col = ['game_id', 'team_id', 'player_id', 'xG', 'xA']

In [110]:
expected_df = combined_df[com_col].copy()

In [118]:
expected_df.head()

     game_id team_id  player_id        xG         xA
1733  448637     815    16081.0  0.105755          0
1290  448611       2    49043.0  0.093651          0
334   448561     134   118855.0  0.061744          0
1951  448642     815    49584.0  0.082932  0.0829317
840   448583      10    84739.0  0.080243   0.080243

In [120]:
expected_df[expected_df['player_id'] == 16081.0]['xG'].sum()

1.5566286762011328

In [117]:
unique_players = expected_df['player_id'].unique()

In [121]:
contributions = []
for player in unique_players:
    xgsum = expected_df[expected_df['player_id'] == player]['xG'].sum()
    xasum = expected_df[expected_df['player_id'] == player]['xA'].sum()
    contributions.append([player, xgsum, xasum])

In [122]:
contributions

[[16081.0, 1.5566286762011328, 0.3769706117939714],
 [49043.0, 0.40178967673033583, 0.0],
 [118855.0, 0.38357566205625493, 0.171718447898093],
 [49584.0, 0.22578459355507507, 0.22578459355507507],
 [84739.0, 0.3245320252139665, 0.08024302203299225],
 [8513.0, 0.19199271337192592, 0.10917036143577685],
 [42505.0, 0.3123738619099341, 0.16049979490020658],
 [24111.0, 0.27649530746777984, 0.1908879186170071],
 [117606.0, 0.4031707067888287, 0.06745053824221658],
 [150346.0, 0.18244606679020992, 0.0],
 [15113.0, 1.3829726099885056, 0.18100067454113444],
 [167990.0, 0.6274211854700236, 0.6274211854700236],
 [147570.0, 0.06488304323478769, 0.0],
 [78833.0, 0.2281727899551591, 0.09740413932096241],
 [66596.0, 0.1491716463440515, 0.08674573729650221],
 [114108.0, 0.20679700759926398, 0.057227202534367215],
 [193955.0, 0.2642869401602041, 0.06450683809132994],
 [65598.0, 0.37909758153800943, 0.10767106760848097],
 [16283.0, 0.08290409883726665, 0.0],
 [36117.0, 0.24160395641766225, 0.16132112034018498],
 [120432.0, 0.22495709207715725, 0.058739526550893956],
 [69296.0, 0.09940223015856124, 0.0],
 [37092.0, 0.08018390667075641, 0.0],
 [172730.0, 0.4774789389844619, 0.31899449186933576],
 [29111.0, 0.43096386273814685, 0.12264332220749803],
 [86727.0, 0.2924022598516023, 0.10524730942993404],
 [28126.0, 0.4029645275493517, 0.23177802365971273],
 [72225.0, 0.1808258774492813, 0.10908820844424898],
 [95766.0, 0.28047740152572975, 0.11879863014576651],
 [186030.0, 0.2846476525505879, 0.05135640015984888],
 [57586.0, 0.20260386668331742, 0.0],
 [56290.0, 0.0921803676851769, 0.0921803676851769],
 [133281.0, 0.3432807203185936, 0.0668935036451142],
 [30266.0, 0.7822540877963271, 0.27336968620522195],
 [85272.0, 0.14858596786889777, 0.14858596786889777],
 [28317.0, 0.07711306600076134, 0.07711306600076134],
 [1325.0, 0.44235837691257307, 0.18703928217274418],
 [8907.0, 0.08387629037890279, 0.0],
 [185878.0, 0.44412042823064096, 0.1632404154182509],
 [70297.0, 0.8040149545954058, 0.0],
 [215475.0, 0.06681730011807446, 0.0],
 [55210.0, 0.7681540797118722, 0.08235379353477638],
 [210852.0, 0.058679854150805254, 0.058679854150805254],
 [172565.0, 0.9447697176547198, 0.5807515225373133],
 [31807.0, 0.7325595575892649, 0.49992827660431516],
 [114498.0, 0.05777342071020441, 0.0],
 [81291.0, 0.14247700566600868, 0.0],
 [29345.0, 0.5652063559113821, 0.2650912135900704],
 [17090.0, 0.2568552385019443, 0.09046120051547372],
 [57885.0, 0.20866473839997537, 0.07300636283019771],
 [172566.0, 0.33979199193599074, 0.1713759817996055],
 [179925.0, 0.1111896281999453, 0.1111896281999453],
 [603.0, 0.32697732910450644, 0.0822942486806224],
 [488.0, 1.196300782810391, 0.07851492385482065],
 [37152.0, 0.34070694730757, 0.18772103435630488],
 [19308.0, 0.10344619721079966, 0.10344619721079966],
 [189736.0, 0.3876235508366296, 0.23637242938781614],
 [135386.0, 1.291808441338778, 0.0958017839700637],
 [193168.0, 0.47503778769993804, 0.4206975011983155],
 [126587.0, 0.11440317847839951, 0.11440317847839951],
 [186085.0, 0.27679364416570346, 0.10070860771050134],
 [63200.0, 0.9011840206760104, 0.6429549064828591],
 [9146.0, 1.6817292742256678, 1.1667440755211853],
 [126.0, 0.26427675654127936, 0.0916237130000725],
 [535.0, 0.08654723388199843, 0.0],
 [85468.0, 1.0591335744041521, 0.5541629744641565],
 [193561.0, 0.11826552677015974, 0.11826552677015974],
 [16225.0, 0.19397799970188623, 0.08339111847341407],
 [172801.0, 0.1761655143038019, 0.08889223870866615],
 [17217.0, 1.100375879215592, 0.18284571689746815],
 [77919.0, 0.8138634000723772, 0.06703226271022648],
 [27793.0, 0.10897592753813586, 0.10897592753813586],
 [17376.0, 0.24232273932560683, 0.13039472755379278],
 [55502.0, 0.8886281099760432, 0.17352095864378683],
 [34042.0, 0.28646527420788875, 0.0],
 [179703.0, 0.056180526101301684, 0.056180526101301684],
 [174331.0, 0.05649487515881854, 0.05649487515881854],
 [79856.0, 0.128019235360677, 0.128019235360677],
 [618.0, 0.9338287425476917, 0.0],
 [52684.0, 0.4661143524734357, 0.2362142935639356],
 [163289.0, 0.12678095867447844, 0.05288639282262703],
 [19754.0, 0.31169454243472094, 0.2281870599601361],
 [16271.0, 0.07849482407011633, 0.0],
 [193188.0, 0.4957614555573998, 0.43646538852374184],
 [126700.0, 0.05613920057481789, 0.05613920057481789],
 [101432.0, 0.11357354567052275, 0.056320542748267664],
 [193186.0, 0.07444398850903805, 0.07444398850903805],
 [177285.0, 0.2837345657506724, 0.11184641809301406],
 [75491.0, 0.06638258964395412, 0.0],
 [16599.0, 0.1077347498060146, 0.0],
 [204671.0, 0.18427657201777958, 0.0],
 [172673.0, 0.11510873934241905, 0.0],
 [66889.0, 0.06823757798148605, 0.0],
 [97738.0, 0.11949943251971, 0.11949943251971],
 [37104.0, 0.10470583760402453, 0.0],
 [71946.0, 0.22100423215672682, 0.07694920407104569],
 [657.0, 0.3058741005101235, 0.0],
 [59721.0, 0.06906049466195611, 0.0],
 [30105.0, 0.3587330098485958, 0.101640824598967],
 [94725.0, 0.3185348419249962, 0.18841908113642353],
 [98292.0, 0.9785676239840169, 0.720953832735686],
 [1080.0, 0.2708106849702092, 0.11055552835796291],
 [3148.0, 0.45235177627076295, 0.09565509437334532],
 [39796.0, 0.40400315112365015, 0.0],
 [8951.0, 0.10220358733658023, 0.10220358733658023],
 [184545.0, 0.11922800682274862, 0.06349310629566161],
 [170137.0, 0.05662687799186443, 0.05662687799186443],
 [19622.0, 0.38317905496786464, 0.3024780379152465],
 [105873.0, 0.09970061327062515, 0.09970061327062515],
 [70018.0, 0.48209940536712337, 0.22281372727476173],
 [93853.0, 0.35738970231510103, 0.2832255536061266],
 [76105.0, 0.06950989022697632, 0.06950989022697632],
 [68605.0, 0.30957968657695445, 0.2112588990708138],
 [17135.0, 1.0938719091200066, 0.8628765070941985],
 [89135.0, 0.07190510919641069, 0.0],
 [36816.0, 0.18043311179715327, 0.0],
 [172760.0, 0.14527401806342238, 0.0],
 [31939.0, 0.42274527683378954, 0.0939630227575577],
 [99008.0, 0.4039421130823954, 0.06296025482679642],
 [87424.0, 0.13634214893779356, 0.07248746276577933],
 [146440.0, 0.0796355960466502, 0.0],
 [85349.0, 0.8737984683278253, 0.13867815374314674],
 [39414.0, 0.9713067461594298, 0.8488710071015824],
 [36681.0, 0.6830839471559136, 0.0],
 [185745.0, 0.3347797398055122, 0.16193667641480328],
 [220308.0, 0.13204885546168332, 0.13204885546168332],
 [58112.0, 0.24240787681372816, 0.08090862197669867],
 [119431.0, 0.3557539320373385, 0.09507395686418607],
 [136659.0, 0.4084515937308707, 0.08849461212862104],
 [8484.0, 0.07986839172626722, 0.0],
 [24256.0, 1.3742625666044652, 1.003555660664969],
 [85311.0, 0.10222348541621874, 0.0],
 [47913.0, 0.7754171105317835, 0.14856437658835692],
 [111421.0, 0.2321839087993543, 0.11599333544376167],
 [31207.0, 0.08826930359659872, 0.08826930359659872],
 [37080.0, 0.11398654342048481, 0.11398654342048481],
 [33527.0, 0.08313527247856234, 0.0],
 [79877.0, 0.21731268112740681, 0.0],
 [24363.0, 0.1576495592039533, 0.1576495592039533],
 [117605.0, 0.14889710325982103, 0.0],
 [39742.0, 0.41059693486747584, 0.24573677586502568],
 [70512.0, 0.1270236023066655, 0.0],
 [206572.0, 0.1126228012097571, 0.0],
 [20195.0, 1.4732467245386789, 0.21483084237431413],
 [77944.0, 0.4480990340997193, 0.0],
 [16056.0, 0.07821003416439667, 0.0],
 [101.0, 1.0934074753530603, 0.08144762773950953],
 [16658.0, 0.0893359471262395, 0.0893359471262395],
 [103537.0, 0.18832528555335581, 0.0],
 [66503.0, 0.5076586971533228, 0.13395631859072946],
 [106024.0, 0.05718414770339986, 0.0],
 [44918.0, 0.5608839549453593, 0.14329130277845165],
 [213070.0, 0.0676641728855525, 0.0],
 [131511.0, 0.14093827439001783, 0.06169001516195018],
 [81286.0, 0.284078797238565, 0.13803201359772874],
 [144.0, 0.6755734938428837, 0.3251459387325379],
 [209413.0, 0.06338709351674146, 0.06338709351674146],
 [66623.0, 0.06867941785667028, 0.0],
 [203.0, 1.2283728945240258, 0.7210372348236189],
 [52418.0, 0.20931328593796955, 0.20931328593796955],
 [251.0, 0.08086149144074174, 0.0],
 [121341.0, 0.24289519312496388, 0.062280831833203446],
 [57549.0, 0.16132952807966452, 0.09277368408253137],
 [68341.0, 0.21287550596128985, 0.06744404045702401],
 [25625.0, 0.14751895472485801, 0.14751895472485801],
 [126644.0, 0.17982568339979937, 0.0],
 [33058.0, 0.32803387942747897, 0.16217956282455911],
 [122082.0, 0.30801151184202347, 0.24529658219571204],
 [158965.0, 0.08993399062584465, 0.08993399062584465],
 [89000.0, 0.2565869467799632, 0.12939326489102373],
 [51.0, 0.07712617293278544, 0.0],
 [63477.0, 0.06969839214021456, 0.0],
 [40397.0, 0.2753629409458137, 0.19415113470677198],
 [4298.0, 0.16558896257377412, 0.0829558096741895],
 [85466.0, 0.1699977587494465, 0.0],
 [47808.0, 0.1448393092445777, 0.07613627215475524],
 [58039.0, 0.06798250550739753, 0.0],
 [126637.0, 0.1298186962310168, 0.1298186962310168],
 [97643.0, 0.25283876369558295, 0.12968047804335575],
 [121814.0, 0.06562267313665283, 0.0],
 [166900.0, 0.11430603924444305, 0.05886772298255527],
 [192595.0, 0.05465405360766863, 0.05465405360766863],
 [96440.0, 0.05747840490871455, 0.0],
 [43831.0, 0.21832540495789854, 0.15146997282477576],
 [116885.0, 0.17967778124057374, 0.0],
 [64709.0, 0.6483872730901591, 0.0],
 [122008.0, 0.11813155179083748, 0.11813155179083748],
 [220307.0, 0.1202793887839374, 0.0],
 [55267.0, 0.20634670969195806, 0.20634670969195806],
 [208759.0, 0.05135859632048729, 0.0],
 [69929.0, 0.14267961762393427, 0.0],
 [47487.0, 0.07067827668855407, 0.0],
 [113707.0, 0.057598010599971744, 0.057598010599971744],
 [58422.0, 0.8089495916850569, 0.0],
 [128530.0, 0.08514031395057792, 0.0],
 [35300.0, 0.33047792601698445, 0.07733965558952519],
 [29128.0, 0.08864385636319448, 0.08864385636319448],
 [104594.0, 0.266961943413208, 0.17457221873023812],
 [98844.0, 0.06711688755628022, 0.0],
 [196095.0, 0.05459100606377758, 0.0],
 [99085.0, 0.0704422576364853, 0.0],
 [4818.0, 0.09054103082685169, 0.09054103082685169],
 [44574.0, 0.5650081036847016, 0.49025477009475255],
 [58481.0, 0.06945280881206398, 0.0],
 [186086.0, 0.08803136900982098, 0.0],
 [8904.0, 0.29608714241025746, 0.21642342961220432],
 [87323.0, 0.16423523486195435, 0.09363976382258041],
 [87415.0, 0.4850998712109468, 0.4850998712109468],
 [1655.0, 0.09149474274640211, 0.09149474274640211],
 [126549.0, 0.08980141573458389, 0.0],
 [17110.0, 0.1609814007366821, 0.07787959990967229],
 [728.0, 0.17201655413796055, 0.17201655413796055],
 [1692.0, 0.09143987336900751, 0.09143987336900751],
 [44771.0, 0.15089458527538935, 0.15089458527538935],
 [69646.0, 0.13761012403662293, 0.0],
 [121313.0, 0.05851292498648612, 0.05851292498648612],
 [95256.0, 0.2057609329009752, 0.0],
 [100786.0, 0.11417030632967481, 0.05683966251395918],
 [182947.0, 0.055922733637116716, 0.0],
 [61653.0, 0.07929688454089093, 0.07929688454089093],
 [43746.0, 0.2993903126918272, 0.0],
 [172568.0, 0.11450088821737531, 0.058479932886267696],
 [175890.0, 0.06503760017261723, 0.06503760017261723],
 [123767.0, 0.053486029275199236, 0.053486029275199236],
 [199230.0, 0.1692115670151231, 0.1692115670151231],
 [39790.0, 0.10334831986967373, 0.10334831986967373],
 [148044.0, 0.05684687593508102, 0.05684687593508102],
 [89025.0, 0.5606361918661787, 0.5606361918661787],
 [98359.0, 0.0617745330148552, 0.0],
 [176455.0, 0.13715469979204542, 0.0],
 [61919.0, 0.1345103914581081, 0.06794665137553799],
 [209194.0, 0.05382815582176569, 0.05382815582176569],
 [45401.0, 0.24811626304757856, 0.10960349923657088],
 [172756.0, 0.06720300171799079, 0.0],
 [138026.0, 0.058087695543262964, 0.0],
 [176537.0, 0.11926329836311647, 0.0],
 [17266.0, 1.1235661411293063, 0.11603612371331425],
 [54702.0, 0.1769784559195225, 0.0],
 [198280.0, 0.14698135988632852, 0.14698135988632852],
 [124151.0, 0.15981188208072483, 0.15981188208072483],
 [8611.0, 0.15935365223642053, 0.0],
 [55627.0, 0.13103447436156107, 0.0],
 [52390.0, 0.9681956469602371, 0.9681956469602371],
 [96979.0, 0.10697371178905615, 0.10697371178905615],
 [175369.0, 0.11188767762896404, 0.11188767762896404],
 [103961.0, 0.05763318229747968, 0.05763318229747968],
 [196046.0, 0.05477347783789542, 0.05477347783789542],
 [128296.0, 0.06550105827766131, 0.0],
 [49644.0, 0.13534547299775948, 0.13534547299775948],
 [103166.0, 0.05605172382304828, 0.0],
 [32264.0, 0.10441301265640164, 0.0],
 [44271.0, 0.09263510121107575, 0.0],
 [215457.0, 0.05776803282009097, 0.05776803282009097],
 [407.0, 0.08935111366435744, 0.08935111366435744],
 [179441.0, 0.06577695583490131, 0.06577695583490131],
 [8995.0, 0.25802574798124617, 0.25802574798124617],
 [137579.0, 0.08792244152289257, 0.08792244152289257],
 [80233.0, 0.06464579029406037, 0.06464579029406037],
 [146048.0, 0.0688880335720396, 0.0],
 [199203.0, 0.39915400145642044, 0.0],
 [52386.0, 0.25106645672832056, 0.07637833013961558],
 [69105.0, 0.21933112258542958, 0.0],
 [101036.0, 0.18782734487851716, 0.12444004017876492],
 [28114.0, 0.23867759533728775, 0.08050076411267405],
 [60730.0, 0.12713825638092766, 0.06390461233154106],
 [179961.0, 0.3723903855662273, 0.0],
 [208434.0, 0.060707027815900774, 0.0],
 [94225.0, 0.06217193783030212, 0.0],
 [215760.0, 0.14425531276628925, 0.0],
 [52937.0, 0.10101351192764604, 0.10101351192764604],
 [60018.0, 0.14312427943717898, 0.07081702136371494],
 [8903.0, 0.12839240358113063, 0.12839240358113063],
 [48268.0, 0.49263226555754747, 0.49263226555754747],
 [28146.0, 0.11816185786270607, 0.11816185786270607],
 [39578.0, 0.7651086144135552, 0.6646537057209799],
 [163041.0, 0.08428130535513514, 0.08428130535513514],
 [89002.0, 0.057324969986136315, 0.0],
 [33777.0, 0.1082168030824715, 0.1082168030824715],
 [95547.0, 0.13025526157325606, 0.05806339431051585],
 [60771.0, 0.08541497043625311, 0.08541497043625311],
 [26050.0, 0.07943385885515433, 0.0],
 [75048.0, 0.08480854783554888, 0.0],
 [192596.0, 0.08598559652278495, 0.0],
 [130207.0, 0.15717397938551358, 0.05710260759371348],
 [15839.0, 0.08124358938001774, 0.0],
 [204644.0, 0.05718522383204129, 0.0],
 [60772.0, 0.22534173918054062, 0.0],
 [162738.0, 0.2940543752169008, 0.11742865364889485],
 [94781.0, 0.07340553949105247, 0.0],
 [79279.0, 0.06594251525304534, 0.0],
 [98007.0, 0.06396474425389762, 0.06396474425389762],
 [46638.0, 0.07074318174437447, 0.07074318174437447],
 [126560.0, 0.0658194987647266, 0.0],
 [158998.0, 0.055438316261887784, 0.0],
 [118014.0, 0.06361346431528478, 0.06361346431528478],
 [100662.0, 0.05675523425382584, 0.0],
 [97571.0, 0.06439876720201855, 0.0],
 [51618.0, 0.09977687713567121, 0.09977687713567121],
 [100778.0, 0.193020482971946, 0.12589412036942782],
 [10601.0, 0.07926359043774073, 0.0],
 [2439.0, 0.2543287216591492, 0.2543287216591492],
 [98969.0, 0.6918750372520021, 0.0],
 [205120.0, 0.05062327573805155, 0.0],
 [582.0, 0.12242817913946659, 0.12242817913946659],
 [86457.0, 0.1149800497050248, 0.0],
 [40071.0, 0.08804813684076154, 0.0],
 [153268.0, 0.05288639282262703, 0.05288639282262703],
 [39479.0, 0.09021603837741742, 0.09021603837741742],
 [51413.0, 0.6670805343114369, 0.0],
 [376.0, 0.08545137692604629, 0.08545137692604629],
 [17276.0, 0.16293671204366184, 0.0],
 [94965.0, 0.07323511083763495, 0.0],
 [88395.0, 0.05766230513195683, 0.0],
 [96298.0, 0.1652825704119697, 0.1652825704119697],
 [146831.0, 0.06650416590699887, 0.0],
 [215882.0, 0.05874222802022851, 0.0],
 [63356.0, 0.06832299989588095, 0.0],
 [375.0, 0.09323509582309467, 0.0],
 [115360.0, 0.08021699786449613, 0.0],
 [70402.0, 0.07342402763824103, 0.0],
 [47915.0, 0.06542424419800487, 0.0],
 [55204.0, 0.13311897088131833, 0.06884774477646217],
 [192402.0, 0.05425906937459627, 0.0],
 [30896.0, 0.08133727867581356, 0.0],
 [97535.0, 0.07306517622236182, 0.0],
 [202647.0, 0.05533374918278741, 0.05533374918278741],
 [45616.0, 0.07220718103103958, 0.07220718103103958],
 [219184.0, 0.06384484447009596, 0.0],
 [216997.0, 0.06248713034166371, 0.06248713034166371],
 [6365.0, 0.5014671508862831, 0.0],
 [30012.0, 0.11102244731197071, 0.0],
 [68988.0, 0.0716141175034768, 0.0716141175034768],
 [15339.0, 0.12280128703343328, 0.12280128703343328],
 [163302.0, 0.41226990645983863, 0.0],
 [116196.0, 0.09415929505241338, 0.0],
 [140.0, 0.11441480227454488, 0.0]]

In [125]:
 = sorted(a, key=lambda x: x.modified, reverse=True)

In [126]:
contributions

[[9146.0, 1.6817292742256678, 1.1667440755211853],
 [16081.0, 1.5566286762011328, 0.3769706117939714],
 [20195.0, 1.4732467245386789, 0.21483084237431413],
 [15113.0, 1.3829726099885056, 0.18100067454113444],
 [24256.0, 1.3742625666044652, 1.003555660664969],
 [135386.0, 1.291808441338778, 0.0958017839700637],
 [203.0, 1.2283728945240258, 0.7210372348236189],
 [488.0, 1.196300782810391, 0.07851492385482065],
 [17266.0, 1.1235661411293063, 0.11603612371331425],
 [17217.0, 1.100375879215592, 0.18284571689746815],
 [17135.0, 1.0938719091200066, 0.8628765070941985],
 [101.0, 1.0934074753530603, 0.08144762773950953],
 [85468.0, 1.0591335744041521, 0.5541629744641565],
 [98292.0, 0.9785676239840169, 0.720953832735686],
 [39414.0, 0.9713067461594298, 0.8488710071015824],
 [52390.0, 0.9681956469602371, 0.9681956469602371],
 [172565.0, 0.9447697176547198, 0.5807515225373133],
 [618.0, 0.9338287425476917, 0.0],
 [63200.0, 0.9011840206760104, 0.6429549064828591],
 [55502.0, 0.8886281099760432, 0.17352095864378683],
 [85349.0, 0.8737984683278253, 0.13867815374314674],
 [77919.0, 0.8138634000723772, 0.06703226271022648],
 [58422.0, 0.8089495916850569, 0.0],
 [70297.0, 0.8040149545954058, 0.0],
 [30266.0, 0.7822540877963271, 0.27336968620522195],
 [47913.0, 0.7754171105317835, 0.14856437658835692],
 [55210.0, 0.7681540797118722, 0.08235379353477638],
 [39578.0, 0.7651086144135552, 0.6646537057209799],
 [31807.0, 0.7325595575892649, 0.49992827660431516],
 [98969.0, 0.6918750372520021, 0.0],
 [36681.0, 0.6830839471559136, 0.0],
 [144.0, 0.6755734938428837, 0.3251459387325379],
 [51413.0, 0.6670805343114369, 0.0],
 [64709.0, 0.6483872730901591, 0.0],
 [167990.0, 0.6274211854700236, 0.6274211854700236],
 [29345.0, 0.5652063559113821, 0.2650912135900704],
 [44574.0, 0.5650081036847016, 0.49025477009475255],
 [44918.0, 0.5608839549453593, 0.14329130277845165],
 [89025.0, 0.5606361918661787, 0.5606361918661787],
 [66503.0, 0.5076586971533228, 0.13395631859072946],
 [6365.0, 0.5014671508862831, 0.0],
 [193188.0, 0.4957614555573998, 0.43646538852374184],
 [48268.0, 0.49263226555754747, 0.49263226555754747],
 [87415.0, 0.4850998712109468, 0.4850998712109468],
 [70018.0, 0.48209940536712337, 0.22281372727476173],
 [172730.0, 0.4774789389844619, 0.31899449186933576],
 [193168.0, 0.47503778769993804, 0.4206975011983155],
 [52684.0, 0.4661143524734357, 0.2362142935639356],
 [3148.0, 0.45235177627076295, 0.09565509437334532],
 [77944.0, 0.4480990340997193, 0.0],
 [185878.0, 0.44412042823064096, 0.1632404154182509],
 [1325.0, 0.44235837691257307, 0.18703928217274418],
 [29111.0, 0.43096386273814685, 0.12264332220749803],
 [31939.0, 0.42274527683378954, 0.0939630227575577],
 [163302.0, 0.41226990645983863, 0.0],
 [39742.0, 0.41059693486747584, 0.24573677586502568],
 [136659.0, 0.4084515937308707, 0.08849461212862104],
 [39796.0, 0.40400315112365015, 0.0],
 [99008.0, 0.4039421130823954, 0.06296025482679642],
 [117606.0, 0.4031707067888287, 0.06745053824221658],
 [28126.0, 0.4029645275493517, 0.23177802365971273],
 [49043.0, 0.40178967673033583, 0.0],
 [199203.0, 0.39915400145642044, 0.0],
 [189736.0, 0.3876235508366296, 0.23637242938781614],
 [118855.0, 0.38357566205625493, 0.171718447898093],
 [19622.0, 0.38317905496786464, 0.3024780379152465],
 [65598.0, 0.37909758153800943, 0.10767106760848097],
 [179961.0, 0.3723903855662273, 0.0],
 [30105.0, 0.3587330098485958, 0.101640824598967],
 [93853.0, 0.35738970231510103, 0.2832255536061266],
 [119431.0, 0.3557539320373385, 0.09507395686418607],
 [133281.0, 0.3432807203185936, 0.0668935036451142],
 [37152.0, 0.34070694730757, 0.18772103435630488],
 [172566.0, 0.33979199193599074, 0.1713759817996055],
 [185745.0, 0.3347797398055122, 0.16193667641480328],
 [35300.0, 0.33047792601698445, 0.07733965558952519],
 [33058.0, 0.32803387942747897, 0.16217956282455911],
 [603.0, 0.32697732910450644, 0.0822942486806224],
 [84739.0, 0.3245320252139665, 0.08024302203299225],
 [94725.0, 0.3185348419249962, 0.18841908113642353],
 [42505.0, 0.3123738619099341, 0.16049979490020658],
 [19754.0, 0.31169454243472094, 0.2281870599601361],
 [68605.0, 0.30957968657695445, 0.2112588990708138],
 [122082.0, 0.30801151184202347, 0.24529658219571204],
 [657.0, 0.3058741005101235, 0.0],
 [43746.0, 0.2993903126918272, 0.0],
 [8904.0, 0.29608714241025746, 0.21642342961220432],
 [162738.0, 0.2940543752169008, 0.11742865364889485],
 [86727.0, 0.2924022598516023, 0.10524730942993404],
 [34042.0, 0.28646527420788875, 0.0],
 [186030.0, 0.2846476525505879, 0.05135640015984888],
 [81286.0, 0.284078797238565, 0.13803201359772874],
 [177285.0, 0.2837345657506724, 0.11184641809301406],
 [95766.0, 0.28047740152572975, 0.11879863014576651],
 [186085.0, 0.27679364416570346, 0.10070860771050134],
 [24111.0, 0.27649530746777984, 0.1908879186170071],
 [40397.0, 0.2753629409458137, 0.19415113470677198],
 [1080.0, 0.2708106849702092, 0.11055552835796291],
 [104594.0, 0.266961943413208, 0.17457221873023812],
 [193955.0, 0.2642869401602041, 0.06450683809132994],
 [126.0, 0.26427675654127936, 0.0916237130000725],
 [8995.0, 0.25802574798124617, 0.25802574798124617],
 [17090.0, 0.2568552385019443, 0.09046120051547372],
 [89000.0, 0.2565869467799632, 0.12939326489102373],
 [2439.0, 0.2543287216591492, 0.2543287216591492],
 [97643.0, 0.25283876369558295, 0.12968047804335575],
 [52386.0, 0.25106645672832056, 0.07637833013961558],
 [45401.0, 0.24811626304757856, 0.10960349923657088],
 [121341.0, 0.24289519312496388, 0.062280831833203446],
 [58112.0, 0.24240787681372816, 0.08090862197669867],
 [17376.0, 0.24232273932560683, 0.13039472755379278],
 [36117.0, 0.24160395641766225, 0.16132112034018498],
 [28114.0, 0.23867759533728775, 0.08050076411267405],
 [111421.0, 0.2321839087993543, 0.11599333544376167],
 [78833.0, 0.2281727899551591, 0.09740413932096241],
 [49584.0, 0.22578459355507507, 0.22578459355507507],
 [60772.0, 0.22534173918054062, 0.0],
 [120432.0, 0.22495709207715725, 0.058739526550893956],
 [71946.0, 0.22100423215672682, 0.07694920407104569],
 [69105.0, 0.21933112258542958, 0.0],
 [43831.0, 0.21832540495789854, 0.15146997282477576],
 [79877.0, 0.21731268112740681, 0.0],
 [68341.0, 0.21287550596128985, 0.06744404045702401],
 [52418.0, 0.20931328593796955, 0.20931328593796955],
 [57885.0, 0.20866473839997537, 0.07300636283019771],
 [114108.0, 0.20679700759926398, 0.057227202534367215],
 [55267.0, 0.20634670969195806, 0.20634670969195806],
 [95256.0, 0.2057609329009752, 0.0],
 [57586.0, 0.20260386668331742, 0.0],
 [16225.0, 0.19397799970188623, 0.08339111847341407],
 [100778.0, 0.193020482971946, 0.12589412036942782],
 [8513.0, 0.19199271337192592, 0.10917036143577685],
 [103537.0, 0.18832528555335581, 0.0],
 [101036.0, 0.18782734487851716, 0.12444004017876492],
 [204671.0, 0.18427657201777958, 0.0],
 [150346.0, 0.18244606679020992, 0.0],
 [72225.0, 0.1808258774492813, 0.10908820844424898],
 [36816.0, 0.18043311179715327, 0.0],
 [126644.0, 0.17982568339979937, 0.0],
 [116885.0, 0.17967778124057374, 0.0],
 [54702.0, 0.1769784559195225, 0.0],
 [172801.0, 0.1761655143038019, 0.08889223870866615],
 [728.0, 0.17201655413796055, 0.17201655413796055],
 [85466.0, 0.1699977587494465, 0.0],
 [199230.0, 0.1692115670151231, 0.1692115670151231],
 [4298.0, 0.16558896257377412, 0.0829558096741895],
 [96298.0, 0.1652825704119697, 0.1652825704119697],
 [87323.0, 0.16423523486195435, 0.09363976382258041],
 [17276.0, 0.16293671204366184, 0.0],
 [57549.0, 0.16132952807966452, 0.09277368408253137],
 [17110.0, 0.1609814007366821, 0.07787959990967229],
 [124151.0, 0.15981188208072483, 0.15981188208072483],
 [8611.0, 0.15935365223642053, 0.0],
 [24363.0, 0.1576495592039533, 0.1576495592039533],
 [130207.0, 0.15717397938551358, 0.05710260759371348],
 [44771.0, 0.15089458527538935, 0.15089458527538935],
 [66596.0, 0.1491716463440515, 0.08674573729650221],
 [117605.0, 0.14889710325982103, 0.0],
 [85272.0, 0.14858596786889777, 0.14858596786889777],
 [25625.0, 0.14751895472485801, 0.14751895472485801],
 [198280.0, 0.14698135988632852, 0.14698135988632852],
 [172760.0, 0.14527401806342238, 0.0],
 [47808.0, 0.1448393092445777, 0.07613627215475524],
 [215760.0, 0.14425531276628925, 0.0],
 [60018.0, 0.14312427943717898, 0.07081702136371494],
 [69929.0, 0.14267961762393427, 0.0],
 [81291.0, 0.14247700566600868, 0.0],
 [131511.0, 0.14093827439001783, 0.06169001516195018],
 [69646.0, 0.13761012403662293, 0.0],
 [176455.0, 0.13715469979204542, 0.0],
 [87424.0, 0.13634214893779356, 0.07248746276577933],
 [49644.0, 0.13534547299775948, 0.13534547299775948],
 [61919.0, 0.1345103914581081, 0.06794665137553799],
 [55204.0, 0.13311897088131833, 0.06884774477646217],
 [220308.0, 0.13204885546168332, 0.13204885546168332],
 [55627.0, 0.13103447436156107, 0.0],
 [95547.0, 0.13025526157325606, 0.05806339431051585],
 [126637.0, 0.1298186962310168, 0.1298186962310168],
 [8903.0, 0.12839240358113063, 0.12839240358113063],
 [79856.0, 0.128019235360677, 0.128019235360677],
 [60730.0, 0.12713825638092766, 0.06390461233154106],
 [70512.0, 0.1270236023066655, 0.0],
 [163289.0, 0.12678095867447844, 0.05288639282262703],
 [15339.0, 0.12280128703343328, 0.12280128703343328],
 [582.0, 0.12242817913946659, 0.12242817913946659],
 [220307.0, 0.1202793887839374, 0.0],
 [97738.0, 0.11949943251971, 0.11949943251971],
 [176537.0, 0.11926329836311647, 0.0],
 [184545.0, 0.11922800682274862, 0.06349310629566161],
 [193561.0, 0.11826552677015974, 0.11826552677015974],
 [28146.0, 0.11816185786270607, 0.11816185786270607],
 [122008.0, 0.11813155179083748, 0.11813155179083748],
 [172673.0, 0.11510873934241905, 0.0],
 [86457.0, 0.1149800497050248, 0.0],
 [172568.0, 0.11450088821737531, 0.058479932886267696],
 [140.0, 0.11441480227454488, 0.0],
 [126587.0, 0.11440317847839951, 0.11440317847839951],
 [166900.0, 0.11430603924444305, 0.05886772298255527],
 [100786.0, 0.11417030632967481, 0.05683966251395918],
 [37080.0, 0.11398654342048481, 0.11398654342048481],
 [101432.0, 0.11357354567052275, 0.056320542748267664],
 [206572.0, 0.1126228012097571, 0.0],
 [175369.0, 0.11188767762896404, 0.11188767762896404],
 [179925.0, 0.1111896281999453, 0.1111896281999453],
 [30012.0, 0.11102244731197071, 0.0],
 [27793.0, 0.10897592753813586, 0.10897592753813586],
 [33777.0, 0.1082168030824715, 0.1082168030824715],
 [16599.0, 0.1077347498060146, 0.0],
 [96979.0, 0.10697371178905615, 0.10697371178905615],
 [37104.0, 0.10470583760402453, 0.0],
 [32264.0, 0.10441301265640164, 0.0],
 [19308.0, 0.10344619721079966, 0.10344619721079966],
 [39790.0, 0.10334831986967373, 0.10334831986967373],
 [85311.0, 0.10222348541621874, 0.0],
 [8951.0, 0.10220358733658023, 0.10220358733658023],
 [52937.0, 0.10101351192764604, 0.10101351192764604],
 [51618.0, 0.09977687713567121, 0.09977687713567121],
 [105873.0, 0.09970061327062515, 0.09970061327062515],
 [69296.0, 0.09940223015856124, 0.0],
 [116196.0, 0.09415929505241338, 0.0],
 [375.0, 0.09323509582309467, 0.0],
 [44271.0, 0.09263510121107575, 0.0],
 [56290.0, 0.0921803676851769, 0.0921803676851769],
 [1655.0, 0.09149474274640211, 0.09149474274640211],
 [1692.0, 0.09143987336900751, 0.09143987336900751],
 [4818.0, 0.09054103082685169, 0.09054103082685169],
 [39479.0, 0.09021603837741742, 0.09021603837741742],
 [158965.0, 0.08993399062584465, 0.08993399062584465],
 [126549.0, 0.08980141573458389, 0.0],
 [407.0, 0.08935111366435744, 0.08935111366435744],
 [16658.0, 0.0893359471262395, 0.0893359471262395],
 [29128.0, 0.08864385636319448, 0.08864385636319448],
 [31207.0, 0.08826930359659872, 0.08826930359659872],
 [40071.0, 0.08804813684076154, 0.0],
 [186086.0, 0.08803136900982098, 0.0],
 [137579.0, 0.08792244152289257, 0.08792244152289257],
 [535.0, 0.08654723388199843, 0.0],
 [192596.0, 0.08598559652278495, 0.0],
 [376.0, 0.08545137692604629, 0.08545137692604629],
 [60771.0, 0.08541497043625311, 0.08541497043625311],
 [128530.0, 0.08514031395057792, 0.0],
 [75048.0, 0.08480854783554888, 0.0],
 [163041.0, 0.08428130535513514, 0.08428130535513514],
 [8907.0, 0.08387629037890279, 0.0],
 [33527.0, 0.08313527247856234, 0.0],
 [16283.0, 0.08290409883726665, 0.0],
 [30896.0, 0.08133727867581356, 0.0],
 [15839.0, 0.08124358938001774, 0.0],
 [251.0, 0.08086149144074174, 0.0],
 [115360.0, 0.08021699786449613, 0.0],
 [37092.0, 0.08018390667075641, 0.0],
 [8484.0, 0.07986839172626722, 0.0],
 [146440.0, 0.0796355960466502, 0.0],
 [26050.0, 0.07943385885515433, 0.0],
 [61653.0, 0.07929688454089093, 0.07929688454089093],
 [10601.0, 0.07926359043774073, 0.0],
 [16271.0, 0.07849482407011633, 0.0],
 [16056.0, 0.07821003416439667, 0.0],
 [51.0, 0.07712617293278544, 0.0],
 [28317.0, 0.07711306600076134, 0.07711306600076134],
 [193186.0, 0.07444398850903805, 0.07444398850903805],
 [70402.0, 0.07342402763824103, 0.0],
 [94781.0, 0.07340553949105247, 0.0],
 [94965.0, 0.07323511083763495, 0.0],
 [97535.0, 0.07306517622236182, 0.0],
 [45616.0, 0.07220718103103958, 0.07220718103103958],
 [89135.0, 0.07190510919641069, 0.0],
 [68988.0, 0.0716141175034768, 0.0716141175034768],
 [46638.0, 0.07074318174437447, 0.07074318174437447],
 [47487.0, 0.07067827668855407, 0.0],
 [99085.0, 0.0704422576364853, 0.0],
 [63477.0, 0.06969839214021456, 0.0],
 [76105.0, 0.06950989022697632, 0.06950989022697632],
 [58481.0, 0.06945280881206398, 0.0],
 [59721.0, 0.06906049466195611, 0.0],
 [146048.0, 0.0688880335720396, 0.0],
 [66623.0, 0.06867941785667028, 0.0],
 [63356.0, 0.06832299989588095, 0.0],
 [66889.0, 0.06823757798148605, 0.0],
 [58039.0, 0.06798250550739753, 0.0],
 [213070.0, 0.0676641728855525, 0.0],
 [172756.0, 0.06720300171799079, 0.0],
 [98844.0, 0.06711688755628022, 0.0],
 [215475.0, 0.06681730011807446, 0.0],
 [146831.0, 0.06650416590699887, 0.0],
 [75491.0, 0.06638258964395412, 0.0],
 [79279.0, 0.06594251525304534, 0.0],
 [126560.0, 0.0658194987647266, 0.0],
 [179441.0, 0.06577695583490131, 0.06577695583490131],
 [121814.0, 0.06562267313665283, 0.0],
 [128296.0, 0.06550105827766131, 0.0],
 [47915.0, 0.06542424419800487, 0.0],
 [175890.0, 0.06503760017261723, 0.06503760017261723],
 [147570.0, 0.06488304323478769, 0.0],
 [80233.0, 0.06464579029406037, 0.06464579029406037],
 [97571.0, 0.06439876720201855, 0.0],
 [98007.0, 0.06396474425389762, 0.06396474425389762],
 [219184.0, 0.06384484447009596, 0.0],
 [118014.0, 0.06361346431528478, 0.06361346431528478],
 [209413.0, 0.06338709351674146, 0.06338709351674146],
 [216997.0, 0.06248713034166371, 0.06248713034166371],
 [94225.0, 0.06217193783030212, 0.0],
 [98359.0, 0.0617745330148552, 0.0],
 [208434.0, 0.060707027815900774, 0.0],
 [215882.0, 0.05874222802022851, 0.0],
 [210852.0, 0.058679854150805254, 0.058679854150805254],
 [121313.0, 0.05851292498648612, 0.05851292498648612],
 [138026.0, 0.058087695543262964, 0.0],
 [114498.0, 0.05777342071020441, 0.0],
 [215457.0, 0.05776803282009097, 0.05776803282009097],
 [88395.0, 0.05766230513195683, 0.0],
 [103961.0, 0.05763318229747968, 0.05763318229747968],
 [113707.0, 0.057598010599971744, 0.057598010599971744],
 [96440.0, 0.05747840490871455, 0.0],
 [89002.0, 0.057324969986136315, 0.0],
 [204644.0, 0.05718522383204129, 0.0],
 [106024.0, 0.05718414770339986, 0.0],
 [148044.0, 0.05684687593508102, 0.05684687593508102],
 [100662.0, 0.05675523425382584, 0.0],
 [170137.0, 0.05662687799186443, 0.05662687799186443],
 [174331.0, 0.05649487515881854, 0.05649487515881854],
 [179703.0, 0.056180526101301684, 0.056180526101301684],
 [126700.0, 0.05613920057481789, 0.05613920057481789],
 [103166.0, 0.05605172382304828, 0.0],
 [182947.0, 0.055922733637116716, 0.0],
 [158998.0, 0.055438316261887784, 0.0],
 [202647.0, 0.05533374918278741, 0.05533374918278741],
 [196046.0, 0.05477347783789542, 0.05477347783789542],
 [192595.0, 0.05465405360766863, 0.05465405360766863],
 [196095.0, 0.05459100606377758, 0.0],
 [192402.0, 0.05425906937459627, 0.0],
 [209194.0, 0.05382815582176569, 0.05382815582176569],
 [123767.0, 0.053486029275199236, 0.053486029275199236],
 [153268.0, 0.05288639282262703, 0.05288639282262703],
 [208759.0, 0.05135859632048729, 0.0],
 [205120.0, 0.05062327573805155, 0.0]]