In [1]:
from selenium.webdriver import (Chrome, Firefox)
import time

import requests
from bs4 import BeautifulSoup

In [3]:
from html_scraper import db

In [4]:
players = db['players']

In [8]:
player_urls = db['player_urls']

In [2]:
browser = Firefox()

In [5]:
url = 'https://www.transfermarkt.co.uk/primera-division/startseite/wettbewerb/AR1N'

In [6]:
browser.get(url)

In [9]:
elems = browser.find_elements_by_class_name("vereinprofil_tooltip")
url_links = []
for link in elems:
    url = link.get_attribute('href')
    if url not in url_links and 'startseite' in url:
        url_links.append(url)

In [11]:
len(url_links)

26

In [16]:
club1 = url_links[0]

In [17]:
browser.get(club1)

### Go from club_url to detailed page club_url

In [21]:
detailed_url = []
for url in url_links:
    change_url = url.replace('startseite', 'kader')
    url_final = change_url + '/plus/1'
    detailed_url.append(url_final)

In [121]:
detailed_url

['https://www.transfermarkt.co.uk/club-atletico-boca-juniors/kader/verein/189/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/ca-independiente-de-avellaneda/kader/verein/1234/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/club-atletico-river-plate/kader/verein/209/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/racing-club-de-avellaneda/kader/verein/1444/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/club-atletico-san-lorenzo-de-almagro/kader/verein/1775/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/club-atletico-lanus/kader/verein/333/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/club-atletico-velez-sarsfield/kader/verein/1029/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/club-deportivo-godoy-cruz/kader/verein/12574/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/club-atletico-colon-santa-fe-/kader/verein/1070/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/defensa-y-justicia/kader/verein/2402/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/club-atletico-rosario-central/kader/verein/1418/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/talleres-de-cordoba-ca/kader/verein/3938/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/ca-union-santa-fe/kader/verein/7097/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/estudiantes-de-la-plata/kader/verein/288/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/club-atletico-huracan/kader/verein/2063/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/argentinos-juniors/kader/verein/1030/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/club-atletico-banfield/kader/verein/830/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/belgrano-de-cordoba/kader/verein/2417/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/club-atletico-tigre/kader/verein/11831/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/club-atletico-newells-old-boys/kader/verein/1286/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/club-atletico-tucuman/kader/verein/14554/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/club-de-gimnasia-y-esgrima-la-plata/kader/verein/1106/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/club-atletico-aldosivi-mdp-/kader/verein/12301/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/club-atletico-san-martin-sj-/kader/verein/10511/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/club-atletico-san-martin-tucuman-/kader/verein/12709/saison_id/2018/plus/1',
 'https://www.transfermarkt.co.uk/club-atletico-patronato/kader/verein/19806/saison_id/2018/plus/1']

### for each detailed_url, input player dictionaries into mongo_db

In [122]:
from html_scraper import scrape_player_info

In [128]:
scrape_player_info(detailed_url, delay=15)

In [129]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'gameinfo_db')

In [ ]:
db

In [23]:
club1 = detailed_url[0]
browser.get(club1)

In [33]:
sel = 'td.hauptlink a'
link_elements = browser.find_elements_by_css_selector(sel)

In [37]:
print(link_elements[0].text)

Esteban Andrada

In [38]:
sel = 'td.zentriert'
link_elements = browser.find_elements_by_css_selector(sel)

In [43]:
print(link_elements[0].text)

31

In [32]:
for link in link_elements:
    print(link.text)

31
Jan 26, 1991 (27)

1,94 m
right
Aug 6, 2018

30.06.2022
1
Aug 21, 1995 (23)

1,93 m
right
Feb 1, 2017

30.06.2021
28
Mar 17, 1987 (31)

1,92 m
right
Oct 6, 2018

31.12.2018
25
Mar 5, 1997 (21)

1,87 m
right
-

30.06.2019
6
Sep 27, 1993 (25)

1,85 m
right
Jul 25, 2012

30.06.2021
24
Nov 3, 1988 (30)

1,86 m
right
Jul 5, 2018

30.06.2021
2
May 12, 1985 (33)

1,84 m
right
Jul 1, 2017

30.06.2020
26
Jan 26, 1999 (19)

1,87 m
right
Jul 1, 2018

30.06.2021
18
Feb 22, 1991 (27)

1,73 m
left
Jan 22, 2016

30.06.2019
3
Jan 15, 1989 (29)

1,80 m
left
Jan 4, 2018

30.06.2021
20
Jul 21, 1994 (24)

1,76 m
left
Jul 30, 2018

30.06.2019
14
Jun 9, 1992 (26)

1,76 m
right
Jan 22, 2015

31.12.2018
29
May 20, 1991 (27)

1,85 m
right
Jan 1, 2016

30.06.2020
4
Aug 18, 1988 (30)

1,70 m
right
Jan 1, 2018

30.06.2021
16
Oct 16, 1993 (25)

1,79 m
right
Aug 25, 2016

30.06.2021
40
Jan 13, 1998 (20)

1,86 m
right
-

-
15
Dec 28, 1995 (22)

1,72 m
right
Aug 23, 2017

30.06.2020
5
Apr 10, 1986 (32)

1,77 m
right
Jul 24, 2013

30.06.2020
8
Aug 10, 1985 (33)

1,75 m
right
Sep 1, 2015

30.06.2020
39
Feb 11, 2000 (18)

1,82 m
right
Jul 1, 2018

-
30
Nov 16, 1995 (23)

1,76 m
left
Jan 26, 2018

31.12.2021
10
Dec 8, 1992 (25)

1,85 m
right
Jul 17, 2017

31.12.2018
7
Jan 21, 1996 (22)

1,74 m
right
Jul 9, 2014

30.06.2022
11
Apr 3, 1995 (23)

1,73 m
right
Jul 18, 2017

31.12.2018
22
May 19, 1996 (22)

1,79 m
right
Jul 1, 2018

30.06.2023
32
Feb 5, 1984 (34)

1,71 m
right
Jan 6, 2018

31.12.2019
19
Mar 18, 1987 (31)

1,75 m
right
Jul 6, 2018

30.06.2021
9
May 17, 1990 (28)

1,77 m
right
Jul 1, 2016

30.06.2021
17
Oct 14, 1989 (29)

1,77 m
right
Aug 7, 2017

30.06.2020

In [48]:
sel = 'td.rechts.hauptlink'
link_elements = browser.find_elements_by_css_selector(sel)

In [120]:
test = '£4.05m  '
chars = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'k', 'm', '.']
''.join(char for char in test if char in chars)

'4.05m'

In [83]:
player_dict_odd = {}
for row in browser.find_elements_by_css_selector("tr.odd"):
    player = row.find_element_by_css_selector('td.hauptlink a').text
    squad_num = row.find_elements_by_css_selector('td.zentriert')[0].text
    birthday = row.find_elements_by_css_selector('td.zentriert')[1].text
    transfer_value = row.find_element_by_css_selector('td.rechts.hauptlink').text
    player_dict_odd[player] = {'squad_num': squad_num, 'birthday': birthday, 'transfer_value': transfer_value}

In [84]:
player_dict_odd

{'Esteban Andrada': {'squad_num': '31',
  'birthday': 'Jan 26, 1991 (27)',
  'transfer_value': '£4.50m  '},
 'Carlos Lampe': {'squad_num': '28',
  'birthday': 'Mar 17, 1987 (31)',
  'transfer_value': '£495k  '},
 'Lisandro Magallán': {'squad_num': '6',
  'birthday': 'Sep 27, 1993 (25)',
  'transfer_value': '£4.05m  '},
 'Paolo Goltz': {'squad_num': '2',
  'birthday': 'May 12, 1985 (33)',
  'transfer_value': '£1.62m  '},
 'Frank Fabra': {'squad_num': '18',
  'birthday': 'Feb 22, 1991 (27)',
  'transfer_value': '£5.40m  '},
 'Lucas Olaza': {'squad_num': '20',
  'birthday': 'Jul 21, 1994 (24)',
  'transfer_value': '£2.25m  '},
 'Leonardo Jara': {'squad_num': '29',
  'birthday': 'May 20, 1991 (27)',
  'transfer_value': '£3.15m  '},
 'Wilmar Barrios': {'squad_num': '16',
  'birthday': 'Oct 16, 1993 (25)',
  'transfer_value': '£9.00m  '},
 'Nahitan Nández': {'squad_num': '15',
  'birthday': 'Dec 28, 1995 (22)',
  'transfer_value': '£8.55m  '},
 'Pablo Pérez': {'squad_num': '8',
  'birthday': 'Aug 10, 1985 (33)',
  'transfer_value': '£1.80m  '},
 'Emanuel Reynoso': {'squad_num': '30',
  'birthday': 'Nov 16, 1995 (23)',
  'transfer_value': '£5.40m  '},
 'Cristian Pavón': {'squad_num': '7',
  'birthday': 'Jan 21, 1996 (22)',
  'transfer_value': '£18.00m  '},
 'Sebastián Villa': {'squad_num': '22',
  'birthday': 'May 19, 1996 (22)',
  'transfer_value': '£720k  '},
 'Mauro Zárate': {'squad_num': '19',
  'birthday': 'Mar 18, 1987 (31)',
  'transfer_value': '£1.80m  '},
 'Ramón Ábila': {'squad_num': '17',
  'birthday': 'Oct 14, 1989 (29)',
  'transfer_value': '£5.40m  '}}

In [94]:
player_dict_even = {}
for row in browser.find_elements_by_css_selector("tr.even"):
    player = row.find_element_by_css_selector('td.hauptlink a').text
    squad_num = row.find_elements_by_css_selector('td.zentriert')[0].text
    birthday = row.find_elements_by_css_selector('td.zentriert')[1].text
#     nationality = row.find_element_by_css_selector('td.zentriert.img')
    transfer_value = row.find_element_by_css_selector('td.rechts.hauptlink').text
    player_dict_even[player] = {'squad_num': squad_num, 'birthday': birthday, 'transfer_value': transfer_value}

In [95]:
player_dict_even

{'Agustín Rossi': {'squad_num': '1',
  'birthday': 'Aug 21, 1995 (23)',
  'transfer_value': '£2.25m  '},
 'Javier Bustillos': {'squad_num': '25',
  'birthday': 'Mar 5, 1997 (21)',
  'transfer_value': '£45k  '},
 'Carlos Izquierdoz': {'squad_num': '24',
  'birthday': 'Nov 3, 1988 (30)',
  'transfer_value': '£2.70m  '},
 'Leonardo Balerdi': {'squad_num': '26',
  'birthday': 'Jan 26, 1999 (19)',
  'transfer_value': '- '},
 'Emmanuel Más': {'squad_num': '3',
  'birthday': 'Jan 15, 1989 (29)',
  'transfer_value': '£2.25m  '},
 'Gino Peruzzi': {'squad_num': '14',
  'birthday': 'Jun 9, 1992 (26)',
  'transfer_value': '£3.15m  '},
 'Julio Buffarini': {'squad_num': '4',
  'birthday': 'Aug 18, 1988 (30)',
  'transfer_value': '£1.80m  '},
 'Julián Chicco': {'squad_num': '40',
  'birthday': 'Jan 13, 1998 (20)',
  'transfer_value': '£540k  '},
 'Fernando Gago': {'squad_num': '5',
  'birthday': 'Apr 10, 1986 (32)',
  'transfer_value': '£1.80m  '},
 'Agustín Almendra': {'squad_num': '39',
  'birthday': 'Feb 11, 2000 (18)',
  'transfer_value': '£450k  '},
 'Edwin Cardona': {'squad_num': '10',
  'birthday': 'Dec 8, 1992 (25)',
  'transfer_value': '£4.95m  '},
 'Cristian Espinoza': {'squad_num': '11',
  'birthday': 'Apr 3, 1995 (23)',
  'transfer_value': '£1.35m  '},
 'Carlos Tévez': {'squad_num': '32',
  'birthday': 'Feb 5, 1984 (34)',
  'transfer_value': '£2.25m  '},
 'Darío Benedetto': {'squad_num': '9',
  'birthday': 'May 17, 1990 (28)',
  'transfer_value': '£9.00m  '}}

In [100]:
player_dict = {**player_dict_even, **player_dict_odd}

In [102]:
len(player_dict)

29

In [108]:
test = db['test']

In [109]:
test.insert_one(player_dict)

In [110]:
db.test.find_one()

{'_id': ObjectId('5c043f6d3d54c00a1992754f'),
 'Agustín Rossi': {'squad_num': '1',
  'birthday': 'Aug 21, 1995 (23)',
  'transfer_value': '£2.25m  '},
 'Javier Bustillos': {'squad_num': '25',
  'birthday': 'Mar 5, 1997 (21)',
  'transfer_value': '£45k  '},
 'Carlos Izquierdoz': {'squad_num': '24',
  'birthday': 'Nov 3, 1988 (30)',
  'transfer_value': '£2.70m  '},
 'Leonardo Balerdi': {'squad_num': '26',
  'birthday': 'Jan 26, 1999 (19)',
  'transfer_value': '- '},
 'Emmanuel Más': {'squad_num': '3',
  'birthday': 'Jan 15, 1989 (29)',
  'transfer_value': '£2.25m  '},
 'Gino Peruzzi': {'squad_num': '14',
  'birthday': 'Jun 9, 1992 (26)',
  'transfer_value': '£3.15m  '},
 'Julio Buffarini': {'squad_num': '4',
  'birthday': 'Aug 18, 1988 (30)',
  'transfer_value': '£1.80m  '},
 'Julián Chicco': {'squad_num': '40',
  'birthday': 'Jan 13, 1998 (20)',
  'transfer_value': '£540k  '},
 'Fernando Gago': {'squad_num': '5',
  'birthday': 'Apr 10, 1986 (32)',
  'transfer_value': '£1.80m  '},
 'Agustín Almendra': {'squad_num': '39',
  'birthday': 'Feb 11, 2000 (18)',
  'transfer_value': '£450k  '},
 'Edwin Cardona': {'squad_num': '10',
  'birthday': 'Dec 8, 1992 (25)',
  'transfer_value': '£4.95m  '},
 'Cristian Espinoza': {'squad_num': '11',
  'birthday': 'Apr 3, 1995 (23)',
  'transfer_value': '£1.35m  '},
 'Carlos Tévez': {'squad_num': '32',
  'birthday': 'Feb 5, 1984 (34)',
  'transfer_value': '£2.25m  '},
 'Darío Benedetto': {'squad_num': '9',
  'birthday': 'May 17, 1990 (28)',
  'transfer_value': '£9.00m  '},
 'Esteban Andrada': {'squad_num': '31',
  'birthday': 'Jan 26, 1991 (27)',
  'transfer_value': '£4.50m  '},
 'Carlos Lampe': {'squad_num': '28',
  'birthday': 'Mar 17, 1987 (31)',
  'transfer_value': '£495k  '},
 'Lisandro Magallán': {'squad_num': '6',
  'birthday': 'Sep 27, 1993 (25)',
  'transfer_value': '£4.05m  '},
 'Paolo Goltz': {'squad_num': '2',
  'birthday': 'May 12, 1985 (33)',
  'transfer_value': '£1.62m  '},
 'Frank Fabra': {'squad_num': '18',
  'birthday': 'Feb 22, 1991 (27)',
  'transfer_value': '£5.40m  '},
 'Lucas Olaza': {'squad_num': '20',
  'birthday': 'Jul 21, 1994 (24)',
  'transfer_value': '£2.25m  '},
 'Leonardo Jara': {'squad_num': '29',
  'birthday': 'May 20, 1991 (27)',
  'transfer_value': '£3.15m  '},
 'Wilmar Barrios': {'squad_num': '16',
  'birthday': 'Oct 16, 1993 (25)',
  'transfer_value': '£9.00m  '},
 'Nahitan Nández': {'squad_num': '15',
  'birthday': 'Dec 28, 1995 (22)',
  'transfer_value': '£8.55m  '},
 'Pablo Pérez': {'squad_num': '8',
  'birthday': 'Aug 10, 1985 (33)',
  'transfer_value': '£1.80m  '},
 'Emanuel Reynoso': {'squad_num': '30',
  'birthday': 'Nov 16, 1995 (23)',
  'transfer_value': '£5.40m  '},
 'Cristian Pavón': {'squad_num': '7',
  'birthday': 'Jan 21, 1996 (22)',
  'transfer_value': '£18.00m  '},
 'Sebastián Villa': {'squad_num': '22',
  'birthday': 'May 19, 1996 (22)',
  'transfer_value': '£720k  '},
 'Mauro Zárate': {'squad_num': '19',
  'birthday': 'Mar 18, 1987 (31)',
  'transfer_value': '£1.80m  '},
 'Ramón Ábila': {'squad_num': '17',
  'birthday': 'Oct 14, 1989 (29)',
  'transfer_value': '£5.40m  '}}