In [1]:
import sys
sys.path.insert(0, '/Users/david/galvanize/super_liga_xg')

In [2]:
import pprint
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
from mongo_to_db import create_master_df
from scraping_tools.html_scraper import db

In [4]:
pd.set_option('display.max_columns', 50)

In [5]:
games = db['games_update'].find()
shots_df = create_master_df(games)

/Users/david/galvanize/super_liga_xg/src/mongo_to_db.py:69: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  final_df = pd.concat([attach_to_df, df], axis=0, ignore_index=True)

# Removing any penalty attempts from shots

In [6]:
shots_df.head()

,game_id,player_id,shot_coord_x1,shot_coord_x2,shot_coord_y1,shot_coord_y2,shot_coord_z1,shot_coord_z2,shot_id,shot_type,team_id,time_of_event(min),passed_from_id,pass_coord_x1,pass_coord_x2,pass_coord_y1,pass_coord_y2,pass_coord_z1,pass_coord_z2,corner_kick,shot_distance,shot_angle,assisted_shot,is_penalty_attempt,is_goal
0,448548,99779.0,6.67,0.00,1.51,-1.21,-1,0.83,22336297,11,20,1.033333,177285.0,0.89,12.44,29.36,-4.84,-1.0,-1.0,1.0,6.838786,12.755990,1.0,0.0,1
1,448548,60730.0,21.33,12.00,4.24,-0.91,-1,0.73,22336386,35,20,9.683333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,21.747333,11.242763,0.0,0.0,0
2,448548,177285.0,12.00,1.78,0.00,-3.03,-1,0.21,22336583,13,20,26.833333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.000000,0.000000,0.0,1.0,1
3,448548,185745.0,8.44,0.89,14.53,-6.66,-1,-1.00,22336723,33,20,38.883333,177285.0,22.67,6.22,3.93,19.67,-1.0,-1.0,0.0,16.803407,59.849102,1.0,0.0,0
4,448548,77892.0,22.22,0.44,13.92,-8.48,-1,-1.00,22336739,33,13,40.083333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,26.220122,32.065607,0.0,0.0,0

In [7]:
shots_no_pen = shots_df[shots_df['is_penalty_attempt'] == 0].copy()

In [8]:
shots_no_pen.head()

,game_id,player_id,shot_coord_x1,shot_coord_x2,shot_coord_y1,shot_coord_y2,shot_coord_z1,shot_coord_z2,shot_id,shot_type,team_id,time_of_event(min),passed_from_id,pass_coord_x1,pass_coord_x2,pass_coord_y1,pass_coord_y2,pass_coord_z1,pass_coord_z2,corner_kick,shot_distance,shot_angle,assisted_shot,is_penalty_attempt,is_goal
0,448548,99779.0,6.67,0.00,1.51,-1.21,-1,0.83,22336297,11,20,1.033333,177285.0,0.89,12.44,29.36,-4.84,-1.0,-1.0,1.0,6.838786,12.755990,1.0,0.0,1
1,448548,60730.0,21.33,12.00,4.24,-0.91,-1,0.73,22336386,35,20,9.683333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,21.747333,11.242763,0.0,0.0,0
3,448548,185745.0,8.44,0.89,14.53,-6.66,-1,-1.00,22336723,33,20,38.883333,177285.0,22.67,6.22,3.93,19.67,-1.0,-1.0,0.0,16.803407,59.849102,1.0,0.0,0
4,448548,77892.0,22.22,0.44,13.92,-8.48,-1,-1.00,22336739,33,13,40.083333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,26.220122,32.065607,0.0,0.0,0
5,448548,77892.0,11.56,0.44,10.59,-1.21,-1,0.14,22336802,35,13,44.483333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,15.677426,42.492487,0.0,0.0,0

In [9]:
shots_no_pen.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3399 entries, 0 to 3436
Data columns (total 25 columns):
game_id               3399 non-null object
player_id             3399 non-null float64
shot_coord_x1         3399 non-null float64
shot_coord_x2         3399 non-null float64
shot_coord_y1         3399 non-null float64
shot_coord_y2         3399 non-null float64
shot_coord_z1         3399 non-null object
shot_coord_z2         3399 non-null float64
shot_id               3399 non-null object
shot_type             3399 non-null object
team_id               3398 non-null object
time_of_event(min)    3399 non-null float64
passed_from_id        1413 non-null float64
pass_coord_x1         1413 non-null float64
pass_coord_x2         1413 non-null float64
pass_coord_y1         1413 non-null float64
pass_coord_y2         1413 non-null float64
pass_coord_z1         1413 non-null float64
pass_coord_z2         1413 non-null float64
corner_kick           3389 non-null float64
shot_distance         3399 non-null float64
shot_angle            3399 non-null float64
assisted_shot         3399 non-null float64
is_penalty_attempt    3399 non-null float64
is_goal               3399 non-null object
dtypes: float64(19), object(6)
memory usage: 690.4+ KB

In [11]:
from model_prep import create_rf_prep

In [12]:
model_ready = create_rf_prep(shots_no_pen)

In [13]:
model_ready.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3399 entries, 0 to 3436
Data columns (total 3 columns):
shot_distance    3399 non-null float64
shot_angle       3399 non-null float64
assisted_shot    3399 non-null float64
dtypes: float64(3)
memory usage: 106.2 KB

In [18]:
y = shots_no_pen['is_goal'].astype(float)
X = model_ready

# K-Fold Testing

In [21]:
from sklearn.metrics import log_loss
from sklearn.model_selection import train_test_split, KFold
from sklearn.ensemble import  RandomForestClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier

In [33]:
X.head()

   shot_distance  shot_angle  assisted_shot
0       6.838786   12.755990            1.0
1      21.747333   11.242763            0.0
3      16.803407   59.849102            1.0
4      26.220122   32.065607            0.0
5      15.677426   42.492487            0.0

In [37]:
kf = KFold(n_splits=5, shuffle=True) # Define the split - into 5 folds 
kf.get_n_splits(X) # returns the number of splitting iterations in the cross-validator
print(kf)

KFold(n_splits=5, random_state=None, shuffle=True)

In [40]:
def kfold_test(model, X, y, metric=log_loss):
    scores = []
    for train_index, test_index in kf.split(X):
        X_train, X_test = X[train_index], X[test_index]
        y_train, y_test = y[train_index], y[test_index]
        model.fit(X_train, y_train)
        prob = model.predict_proba(X_test)[:, 1]
        ll = log_loss(y_test, prob)
        scores.append(ll)
    return scores

In [41]:
random_forest_model = RandomForestClassifier(n_estimators=300, max_depth=3, verbose=1, random_state=8)

In [42]:
kfold_test(random_forest_model, X, y)

KeyError: '[   0    1    2 ... 3396 3397 3398] not in index'

In [31]:
# k = KFold(n_splits=5, shuffle=True)
# for itm in k.split(model_ready, shots_no_pen['is_goal']):
#     print(len(itm))
    break

2

In [22]:
xgboost_model = XGBClassifier(learning_rate = 0.01, max_depth = 3, n_estimators = 300, random_state=8)
gradient_boost_model = GradientBoostingClassifier(learning_rate=0.01, max_depth=4, max_features='log2', min_samples_leaf=4, n_estimators=280, subsample=0.25, random_state=8)
random_forest_model = RandomForestClassifier(n_estimators=300, max_depth=3, verbose=1, random_state=8)

In [26]:
def kfold_test(model, X, y, metric=log_loss):
    scores = []
    k = KFold(n_splits=5, shuffle=True)
    if isinstance(X, pd.DataFrame):
        X = X.values
    if isinstance(y, pd.DataFrame):
        y = y.values
    for train, test in k.split(X):
        model.fit(X[train], y[train])
        scores.append(metric(y[test], model.predict_proba(X[test])[:, 1]))
    return scores

In [27]:
kfold_test(random_forest_model, X, y)

/Users/david/anaconda3/lib/python3.6/site-packages/pandas/core/series.py:842: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').